body {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;

  color: $text-color-primary;
  background-color: $bg-color-primary;
}