// Base, utils, variables, modules
@import './utils/external';
@import './utils/variables';
@import './base/base';
@import './utils/reset';
@import './utils/utilities';
@import './utils/gallery-reviews-wrapper';

// Sections and components
@import './components/button';
@import './components/about';
@import './components/about_modal';
@import './components/advantages';
@import './components/contacts';
@import './components/agency';
@import './components/footer';
@import './components/gallery';
@import './components/header';
@import './components/menu';
@import './components/hero';
@import './components/products';
@import './components/reviews';
@import './components/modal-product';
@import './components/form';
@import './components/cursor';
@import './components/modal-franchise';
@import './components/modal-locations';
@import './components/cursor';