// Base, utils, variables, modules
@import './utils/external';
@import './utils/variables';
@import './base/base';
@import './utils/reset';
@import './utils/utilities';
@import './utils/gallery-reviews-wrapper';
// @import '../../node_modules/swiper/swiper-bundle.min.css';

// Sections and components
@import './components/button';
@import './components/about';
@import './components/advantages';
@import './components/contacts';
@import './components/footer';
@import './components/gallery';
@import './components/header';
@import './components/hero';
@import './components/products';
@import './components/reviews';
