@import '~node_modules/modern-normalize/modern-normalize.css';
@import '~node_modules/swiper/swiper-bundle.min.css';
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #131313;
  background-color: #84a178;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 480px;
}
@media screen and (max-width: 479px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 1200px;
  }
}

.section-heading {
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section-heading {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .section-heading {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
}

.section-label {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section-label {
    font-size: 22px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1200px) {
  .section-label {
    font-size: 30px;
  }
}

.visibility-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.gallery-reviews-wrapper {
  margin: 0 auto;
  background-image: url("../images/background/mob-bg-@1x-480.jpg");
  background-repeat: repeat-y;
  background-position: 50%;
  background-size: cover;
}
@supports (background-image: url("data:image/webp")) {
  .gallery-reviews-wrapper {
    background-image: url("../images/background/mob-bg-@1x-480.webp");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: url("../images/background/mob-bg-@2x-960.jpg");
  }
  @supports (background-image: url("data:image/webp")) {
    .gallery-reviews-wrapper {
      background-image: url("../images/background/mob-bg-@2x-960.webp");
    }
  }
}
@media screen and (min-width: 480px) {
  .gallery-reviews-wrapper {
    background-image: url("../images/background/mob-bg-@1x-885.jpg");
    background-repeat: repeat;
    background-size: contain;
  }
  @supports (background-image: url("data:image/webp")) {
    .gallery-reviews-wrapper {
      background-image: url("../images/background/mob-bg-@1x-885.webp");
    }
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: url("../images/background/mob-bg-@2x-1770.jpg");
  }
  @supports (background-image: url("data:image/webp")) {
    .gallery-reviews-wrapper {
      background-image: url("../images/background/mob-bg-@2x-1770.webp");
    }
  }
}
@media screen and (min-width: 768px) {
  .gallery-reviews-wrapper {
    background-image: url("../images/background/tab-bg-@1x-963.jpg");
    background-repeat: repeat;
  }
  @supports (background-image: url("data:image/webp")) {
    .gallery-reviews-wrapper {
      background-image: url("../images/background/tab-bg-@1x-963.webp");
    }
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: url("../images/background/tab-bg-@2x-1926.jpg");
  }
  @supports (background-image: url("data:image/webp")) {
    .gallery-reviews-wrapper {
      background-image: url("../images/background/tab-bg-@2x-1926.webp");
    }
  }
}
@media screen and (min-width: 1200px) {
  .gallery-reviews-wrapper {
    background-image: url("../images/background/desk-bg-@1x-1300.jpg");
  }
  @supports (background-image: url("data:image/webp")) {
    .gallery-reviews-wrapper {
      background-image: url("../images/background/desk-bg-@1x-1300.webp");
    }
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: url("../images/background/desk-bg-@2x-2600.jpg");
  }
  @supports (background-image: url("data:image/webp")) {
    .gallery-reviews-wrapper {
      background-image: url("../images/background/desk-bg-@2x-2600.webp");
    }
  }
}

.button, .contacts__button, .contacts__button--transparent, .button--transparent {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: inherit;
  cursor: pointer;
  outline: none;
  border: 0 solid transparent;
  border-radius: 10px;
  background-color: #f8d24e;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus, .contacts__button:focus, .contacts__button--transparent:focus, .button--transparent:focus, .button:hover, .contacts__button:hover, .contacts__button--transparent:hover, .button--transparent:hover {
  background-color: #0a8817;
}
.button:not(:disabled):focus, .contacts__button:not(:disabled):focus, .contacts__button--transparent:not(:disabled):focus, .button--transparent:not(:disabled):focus {
  color: #fcfcfc;
}
.button:disabled, .contacts__button:disabled, .contacts__button--transparent:disabled, .button--transparent:disabled {
  background-color: #ababab;
}
.button--transparent, .contacts__button--transparent {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #f8d24e;
  background-color: transparent;
}
.button--transparent:focus, .contacts__button--transparent:focus, .button--transparent:hover, .contacts__button--transparent:hover {
  border-color: #0a8817;
  background-color: transparent;
}
.button--transparent:disabled, .contacts__button--transparent:disabled {
  border-color: #ababab;
  background-color: transparent;
}

.about {
  padding-top: 61px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 86px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 60px;
    padding-bottom: 99px;
  }
}

.about__label {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .about__label {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about__label {
    font-size: 30px;
  }
}

.about__title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 34px;
    line-height: 1.26;
    letter-spacing: 0.06em;
    width: auto;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 82px;
  }
}

@media screen and (min-width: 768px) {
  .about__wrapper {
    display: flex;
    flex-direction: row;
    gap: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrapper {
    gap: 109px;
  }
}

.about__img-wrapper {
  position: relative;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
  width: 278px;
  height: 279px;
  margin: 0 auto 40px;
}
@media screen and (min-width: 768px) {
  .about__img-wrapper {
    box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
    border-radius: 165px;
    width: 330px;
    height: 330px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__img-wrapper {
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    border-radius: 250px;
    width: 490px;
    height: 490px;
    margin-bottom: 0;
  }
}

.about__picture {
  display: block;
}
@media screen and (min-width: 768px) {
  .about__picture {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about__picture {
    width: 490px;
  }
}

.about__img {
  position: absolute;
  top: 22px;
}
@media screen and (min-width: 768px) {
  .about__img {
    top: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    top: 39px;
  }
}

.about__text-button-wrapper {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__text-button-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text-button-wrapper {
    padding-top: 90px;
    padding-right: 105px;
  }
}

.about__text--first {
  font-weight: 400;
  font-size: 12px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .about__text--first {
    margin-bottom: 8px;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .about__text--first {
    font-size: 16px;
  }
}

.about__text--second {
  font-weight: 400;
  font-size: 12px;
  line-height: 162%;
  text-align: center;
  color: #fcfcfc;
}
@media screen and (max-width: 767px) {
  .about__text--second {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .about__text--second {
    margin-bottom: 8px;
    line-height: 176%;
    letter-spacing: 0.04em;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .about__text--second {
    font-size: 14px;
    line-height: 194%;
  }
}

@media screen and (max-width: 767px) {
  .about__text--third {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about__text--third {
    font-size: 12px;
    line-height: 194%;
    letter-spacing: 0.04em;
    color: #fcfcfc;
    margin-bottom: 32px;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .about__text--third {
    font-size: 14px;
    margin-bottom: 54px;
  }
}

.about__button {
  width: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .about__button {
    margin: 0;
  }
}

.about__button-icon {
  margin-left: 4px;
}

.about-modal__backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.about-modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.about-modal__backdrop.is-hidden .about-modal {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.about-modal {
  position: absolute;
  max-width: 280px;
  padding: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .about-modal {
    min-width: 568px;
    padding: 32px 60px;
  }
}

.about-modal__button--close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  background: inherit;
  color: #131313;
  border: transparent;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .about-modal__button--close {
    width: 24px;
    height: 24px;
  }
}
.about-modal__button--close:hover, .about-modal__button--close:focus {
  fill: #f8d24e;
}

@media screen and (min-width: 768px) {
  .about-modal__video {
    width: 448px;
    height: 205px;
  }
}

.about-modal__title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #131313;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about-modal__title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

.about-modal__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .about-modal__text {
    font-size: 16px;
    line-height: 140%;
    margin-top: 32px;
  }
}

.advantages .container {
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .advantages .container {
    padding-left: 76px;
    padding-right: 76px;
    padding-bottom: 204px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages .container {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 178px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    flex-wrap: nowrap;
    gap: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    gap: 32px;
  }
}

.advantages__number {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  text-transform: uppercase;
  text-align: center;
  color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .advantages__number {
    margin-bottom: 12px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__number {
    font-size: 58px;
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fcfcfc;
}
@media screen and (max-width: 767px) {
  .advantages__text {
    max-width: 290px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.76;
  }
}

.advantages__item::before {
  display: block;
  content: "";
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8d24e;
  background-image: url("../images/weight.png");
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item::before {
    background-image: url("../images/weight@2x.png");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .advantages__item::before {
    background-image: url("../images/weight@3x.png");
  }
}
@media screen and (min-width: 768px) {
  .advantages__item::before {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item::before {
    margin-bottom: 40px;
  }
}

.advantages__item:first-child::before {
  background-image: url("../images/cow.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:first-child::before {
    background-image: url("../images/cow@2x.png");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .advantages__item:first-child::before {
    background-image: url("../images/cow@3x.png");
  }
}

.advantages__item:last-child::before {
  background-image: url("../images/ice-crema.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:last-child::before {
    background-image: url("../images/ice-crema@2x.png");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .advantages__item:last-child::before {
    background-image: url("../images/ice-crema@3x.png");
  }
}

.advantages__item:hover .advantages__number {
  transform: scale(1.1);
}

.contacts {
  margin-top: -360px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-top: -307px;
    font-size: 14px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-top: -127px;
    font-size: 16px;
    padding-bottom: 120px;
  }
}
.contacts__list {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    gap: 32px;
    margin-bottom: 60px;
  }
}
.contacts__wrapper {
  display: block;
}
@media screen and (min-width: 768px) {
  .contacts__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
.contacts__button, .contacts__button--transparent {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  width: 196px;
}
@media screen and (min-width: 768px) {
  .contacts__button, .contacts__button--transparent {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.contacts__button--transparent {
  margin-bottom: 0;
}
.contacts__icon {
  margin-left: 4px;
  fill: #131313;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__button:focus .contacts__icon, .contacts__button--transparent:focus .contacts__icon {
  fill: #ffffff;
}

.agency {
  background-color: #fcfcfc;
  padding: 40px 32px 24px 32px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .agency:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .agency {
    width: calc((100% - 32px) / 3);
    padding: 40px 24px 40px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .agency {
    width: calc((100% - 64px) / 3);
    padding: 40px;
  }
}
.agency__type {
  display: inline-block;
  padding: 4px 22px;
  margin-bottom: 20px;
  background-color: #f8d24e;
  text-transform: uppercase;
  line-height: 120%;
  border-radius: 4px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .agency__type {
    padding: 4px 13px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 140%;
  }
}
@media screen and (min-width: 1200px) {
  .agency__type {
    padding: 4px 14px;
  }
}
.agency__location {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .agency__location {
    margin-bottom: 32px;
  }
}
.agency__city {
  margin-bottom: 8px;
  line-height: 186%;
}
@media screen and (min-width: 768px) {
  .agency__city {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .agency__city {
    margin-bottom: 8px;
  }
}
.agency__address {
  line-height: 183%;
  color: #D6936D;
  transition: -webkit-text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agency__address:hover, .agency__address:focus {
  text-decoration: underline;
}
.agency__schedule {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
  line-height: 186%;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .agency__schedule {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}
.agency__workhours {
  color: #ABABAB;
}
.agency__workhours:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .agency__workhours:not(:last-child) {
    margin-bottom: 12px;
  }
}
.agency__tel {
  margin-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .agency__tel {
    margin-bottom: 4px;
  }
}
.agency__tel, .agency__mail {
  display: block;
  color: inherit;
}

.gallery .container {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .gallery .container {
    margin-bottom: -44px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery .container {
    margin-bottom: 42px;
  }
}
.gallery .swiper {
  max-width: 100%;
  transform: translateY(-32px);
}
@media screen and (min-width: 768px) {
  .gallery .swiper {
    transform: translateY(-144px);
  }
}
@media screen and (min-width: 1200px) {
  .gallery .swiper {
    transform: translateY(-98px);
  }
}

.gallery__image {
  margin-inline: auto;
  border-radius: 8px;
}
.gallery__image:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
@media screen and (min-width: 480px) {
  .gallery__image {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 704px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__image {
    width: 1013px;
    border-radius: 24px;
  }
}

.header {
  padding-top: 12px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 8px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__button, .menu__button-close, .menu__button-open {
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu__button-open {
    margin-left: auto;
    margin-right: 32px;
    margin-bottom: 3px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__button-open {
    display: none;
  }
}
.menu__button-close {
  display: none;
  fill: #fcfcfc;
}
@media screen and (max-width: 1199px) {
  .menu--mobile-opened .menu__button-close {
    display: block;
  }
}

.menu__mobile-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #84a178;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .menu__mobile-wrapper {
    position: relative;
    z-index: inherit;
    width: auto;
    height: auto;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: 205px;
    background-color: transparent;
    transform: translateX(0);
  }
}
@media screen and (max-width: 1199px) {
  .menu--mobile-opened .menu__mobile-wrapper {
    transform: translateX(0);
  }
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 1199px) {
  .menu--mobile-opened .menu__container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    height: 100vh;
    width: 480px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) and (max-width: 479px) {
  .menu--mobile-opened .menu__container {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .menu--mobile-opened .menu__container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}

@media screen and (max-width: 1199px) {
  .menu--mobile-opened .menu__head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-top: 12px;
    padding-left: 32px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .menu--mobile-opened .menu__head-wrapper {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

.menu__logo {
  display: none;
}
@media screen and (max-width: 1199px) {
  .menu--mobile-opened .menu__logo {
    display: block;
  }
}

.menu__nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .menu__nav {
    display: block;
  }
}
@media screen and (max-width: 1199px) {
  .menu--mobile-opened .menu__nav {
    display: block;
    margin-top: 51px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .menu--mobile-opened .menu__nav {
    margin-top: 76px;
    margin-bottom: 0;
  }
}

.menu__list {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .menu__list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .menu__list-item:not(:first-child) {
    margin-left: 28px;
  }
}
@media screen and (max-width: 1199px) {
  .menu--mobile-opened .menu__list-item:not(:first-child) {
    margin-top: 32px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .menu--mobile-opened .menu__list-item:not(:first-child) {
    margin-top: 40px;
  }
}

.menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  color: #fcfcfc;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu__link {
    font-size: 48px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1200px) {
  .menu__link {
    font-size: 16px;
    line-height: 1.25;
  }
}
.menu__link:focus, .menu__link:hover {
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .menu__link:focus, .menu__link:hover {
    color: #f8d24e;
  }
}

.menu__buy-now-button {
  display: none;
  align-items: center;
  padding-left: 36px;
  padding-right: 35px;
  line-height: 1.22;
}
@media screen and (min-width: 768px) {
  .menu__buy-now-button--in-bar {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .menu--mobile-opened .menu__buy-now-button--in-bar {
    z-index: -1;
  }
}
@media screen and (max-width: 1199px) {
  .menu--mobile-opened .menu__buy-now-button--in-mobile {
    display: flex;
    margin-top: auto;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .menu--mobile-opened .menu__buy-now-button--in-mobile {
    display: none;
  }
}

.menu__button-icon {
  display: block;
}
.menu__button-icon--arrow {
  margin-left: 4px;
  fill: currentColor;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .hero-btn {
    margin-top: 24px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-btn {
    margin-top: 28px;
    margin-bottom: 42px;
    gap: 34px;
    font-size: 14px;
    line-height: 1.29;
  }
}
.hero-btn__link {
  display: inline-block;
}
.hero-btn__link--button {
  padding: 11px 26px;
}
@media screen and (min-width: 768px) {
  .hero-btn__link--button {
    padding: 12px 34px;
  }
}
.hero-btn__link--underline {
  color: #f8d24e;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn__link--underline:hover {
  color: #0a8817;
}
.hero-btn__link--underline:focus {
  color: #fcfcfc;
}

.description {
  display: none;
}
@media screen and (min-width: 768px) {
  .description {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .description {
    gap: 16px;
  }
}
.description__text {
  margin-bottom: 12px;
  width: 150px;
  font-size: 12px;
  line-height: 1.4;
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .description__text {
    margin-top: 35px;
    margin-bottom: 24px;
    width: 220px;
    font-size: 14px;
  }
}
.description__btn {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description__btn:hover, .description__btn:focus {
  transform: scaleX(1.2);
}
.description__arrow {
  fill: #fcfcfc;
}

.counter {
  display: none;
}
@media screen and (min-width: 768px) {
  .counter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 14px;
  }
}
.counter__text {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .counter__text {
    font-size: 14px;
    line-height: 1.21;
  }
}
.counter__number {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .counter__number {
    font-size: 46px;
    line-height: 1.22;
  }
}

.hero {
  position: relative;
  padding-top: 50px;
  padding-bottom: 236px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 14px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 45px;
    padding-bottom: 65px;
  }
}
.hero__main {
  display: flex;
  justify-content: space-between;
}
.hero__title {
  width: 247px;
  font-family: "Seymour One", sans-serif;
  color: #fcfcfc;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.27;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 380px;
    font-size: 38px;
    line-height: 1.26;
  }
}
.hero__title-upper {
  font-size: 34px;
  line-height: 1.03;
}
@media screen and (min-width: 1200px) {
  .hero__title-upper {
    font-size: inherit;
    line-height: inherit;
  }
}
.hero__ice-cream {
  display: block;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(56%);
}
@media screen and (min-width: 768px) {
  .hero__ice-cream {
    transform: translateX(110%);
  }
}
.hero__dots {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.reviews {
  padding-bottom: 393px;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 379px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding-bottom: 128px;
  }
}
.reviews .swiper {
  max-width: 100%;
}
.reviews .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  opacity: 1;
}
.reviews .swiper-pagination-bullet-active {
  background-color: #84a178;
}
.reviews .swiper-wrapper {
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .reviews .swiper-wrapper {
    margin-bottom: 42px;
  }
}
.reviews .swiper-pagination-bullets {
  bottom: 0;
}

.reviews__item {
  width: 100%;
  text-align: center;
}

.reviews__image {
  margin-inline: auto;
  margin-bottom: 32px;
  border-radius: 50%;
}

.reviews__text {
  width: 100%;
  padding: 35px 39px;
  margin-inline: auto;
  font-size: 12px;
  font-style: normal;
  line-height: 2.5833333333;
  color: #fcfcfc;
  background-color: #84a178;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .reviews__text {
    max-width: 705px;
    padding: 28px 80px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8571428571;
    border-radius: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__text {
    max-width: 968px;
    padding: 43px 109px;
    font-size: 16px;
    line-height: 1.875;
  }
}

.reviews__name {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.85;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .reviews__name {
    font-size: 16px;
    line-height: 1.875;
  }
}

.backdrop {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop--hidden .modal-product {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal-product {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 280px;
  padding: 28px 20px;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  background-color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .modal-product {
    width: 568px;
    padding: 32px 40px;
  }
}

.modal-product__close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 12px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: none;
}
@media screen and (min-width: 768px) {
  .modal-product__close {
    width: 24px;
    height: 24px;
  }
}

.modal-product__icon {
  fill: inherit;
}

.modal-product__close:hover .modal-product__icon {
  fill: #f8d24e;
}

.modal-product__title {
  margin-bottom: 181px;
  font-family: "Seymour One", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal-product__title {
    margin-bottom: 187px;
  }
}

.modal-product__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: #9CBE8F;
  transform: translate(54px, 83px);
}
@media screen and (min-width: 768px) {
  .modal-product__title::before {
    transform: translate(178px, 59px);
  }
}

.modal-product__title::after {
  content: "";
  display: block;
  position: absolute;
  transform: translate(54px, 20px);
  width: 132px;
  height: 132px;
  background-image: url("../images/modal-product.png");
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .modal-product__title::after {
    background-image: url("../images/modal-product@2x.png");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .modal-product__title::after {
    background-image: url("../images/modal-product@3x.png");
  }
}
@media screen and (min-width: 768px) {
  .modal-product__title::after {
    transform: translate(178px, 24px);
  }
}

.modal-product__list {
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .modal-product__list {
    gap: 20px;
    margin-bottom: 48px;
  }
}

.modal-product__oval {
  width: 53px;
  height: 72px;
  border: 2px solid #9CBE8F;
  border-radius: 40px;
}
@media screen and (min-width: 768px) {
  .modal-product__oval {
    width: 65px;
    height: 90px;
  }
}

.modal-product__circle {
  width: 43px;
  height: 43px;
  background-color: #9CBE8F;
  border: 2px solid #9CBE8F;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  margin: -2px auto 8px;
}
@media screen and (min-width: 768px) {
  .modal-product__circle {
    width: 53px;
    height: 53px;
  }
}

.modal-product__number {
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  padding-top: 7px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal-product__number {
    font-size: 12px;
    line-height: 2.33;
    padding-top: 11px;
  }
}

.modal-product__text {
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  padding: 0 6px;
}
@media screen and (min-width: 768px) {
  .modal-product__text {
    font-size: 12px;
    line-height: 1.25;
    padding: 0 2px;
  }
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal-product__subtitle {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

.modal-product__ingredients {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .modal-product__ingredients {
    margin-bottom: 48px;
  }
}

.modal-product__ingredient {
  display: flex;
  justify-content: space-between;
}

.modal-product__ingredient:not(:last-child) {
  margin-bottom: 11px;
}

/* Temporary button to open modal-product */
.modal-product__open {
  width: 130px;
  height: 30px;
  border: 2px solid red;
  background-color: red;
}

.form {
  width: 240px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .form {
    width: 368px;
  }
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 11px 16px;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;
}

.form__input {
  margin-bottom: 16px;
}

.form__textarea {
  margin-bottom: 24px;
  resize: none;
}
@media screen and (min-width: 768px) {
  .form__textarea {
    margin-bottom: 32px;
  }
}

.form__field {
  position: relative;
}

.form__label {
  position: absolute;
  transform: translate(16px, 11px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
}

.form__input:hover,
.form__input:focus,
.form__textarea:hover,
.form__textarea:focus {
  cursor: pointer;
}

.form:hover .form__label,
.form:focus .form__label,
.form:focus-within .form__label {
  transform: translate(-4px, -16px) scale(0.7);
}

.form__input:not(:-moz-placeholder-shown):required:valid {
  border: 1px solid #84a178;
}

.form__input:not(:-ms-input-placeholder):required:valid {
  border: 1px solid #84a178;
}

.form__input:not(:placeholder-shown):required:valid {
  border: 1px solid #84a178;
}

.form__input:not(:-moz-placeholder-shown):required:invalid {
  border: 1px solid red;
}

.form__input:not(:-ms-input-placeholder):required:invalid {
  border: 1px solid red;
}

.form__input:not(:placeholder-shown):required:invalid {
  border: 1px solid red;
}

.form__button {
  display: block;
  margin: 0 auto;
  padding: 12px 34px;
  line-height: 1.21;
  text-align: center;
}

html {
  cursor: url("../images/cursor/cursor-auto-@1x.png"), auto;
}
@supports (cursor: url("data:image/webp"), auto) {
  html {
    cursor: url("../images/cursor/cursor-auto-@1x.webp"), auto;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  html {
    cursor: url("../images/cursor/cursor-auto-@2x.png"), auto;
  }
  @supports (cursor: url("data:image/webp")) {
    html {
      cursor: url("../images/cursor/cursor-auto-@2x.webp"), auto;
    }
  }
}

a,
button,
.button,
.button--transparent,
.contacts__button,
.contacts__button--transparent,
.gallery__image:hover,
.swiper-pagination-clickable .swiper-pagination-bullet,
.menu__button,
.menu__button-close,
.menu__button-open {
  cursor: url("../images/cursor/cursor-pointer-@1x.png"), auto;
}
@supports (cursor: url("data:image/webp"), auto) {
  a,
button,
.button,
.button--transparent,
.contacts__button,
.contacts__button--transparent,
.gallery__image:hover,
.swiper-pagination-clickable .swiper-pagination-bullet,
.menu__button,
.menu__button-close,
.menu__button-open {
    cursor: url("../images/cursor/cursor-pointer-@1x.webp"), auto;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  a,
button,
.button,
.button--transparent,
.contacts__button,
.contacts__button--transparent,
.gallery__image:hover,
.swiper-pagination-clickable .swiper-pagination-bullet,
.menu__button,
.menu__button-close,
.menu__button-open {
    cursor: url("../images/cursor/cursor-pointer-@2x.png"), auto;
  }
  @supports (cursor: url("data:image/webp")) {
    a,
button,
.button,
.button--transparent,
.contacts__button,
.contacts__button--transparent,
.gallery__image:hover,
.swiper-pagination-clickable .swiper-pagination-bullet,
.menu__button,
.menu__button-close,
.menu__button-open {
      cursor: url("../images/cursor/cursor-pointer-@2x.webp"), auto;
    }
  }
}

.gallery-image {
  cursor: url("../images/cursor/cursor-grab-@1x.png"), auto;
}
@supports (cursor: url("data:image/webp"), auto) {
  .gallery-image {
    cursor: url("../images/cursor/cursor-grab-@1x.webp"), auto;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .gallery-image {
    cursor: url("../images/cursor/cursor-grab-@2x.png"), auto;
  }
  @supports (cursor: url("data:image/webp")) {
    .gallery-image {
      cursor: url("../images/cursor/cursor-grab-@2x.webp"), auto;
    }
  }
}

html {
  cursor: url("../images/cursor/cursor-auto-@1x.png"), auto;
}
@supports (cursor: url("data:image/webp"), auto) {
  html {
    cursor: url("../images/cursor/cursor-auto-@1x.webp"), auto;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  html {
    cursor: url("../images/cursor/cursor-auto-@2x.png"), auto;
  }
  @supports (cursor: url("data:image/webp")) {
    html {
      cursor: url("../images/cursor/cursor-auto-@2x.webp"), auto;
    }
  }
}

a,
button,
.button,
.button--transparent,
.contacts__button,
.contacts__button--transparent,
.gallery__image:hover,
.swiper-pagination-clickable .swiper-pagination-bullet,
.menu__button,
.menu__button-close,
.menu__button-open {
  cursor: url("../images/cursor/cursor-pointer-@1x.png"), auto;
}
@supports (cursor: url("data:image/webp"), auto) {
  a,
button,
.button,
.button--transparent,
.contacts__button,
.contacts__button--transparent,
.gallery__image:hover,
.swiper-pagination-clickable .swiper-pagination-bullet,
.menu__button,
.menu__button-close,
.menu__button-open {
    cursor: url("../images/cursor/cursor-pointer-@1x.webp"), auto;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  a,
button,
.button,
.button--transparent,
.contacts__button,
.contacts__button--transparent,
.gallery__image:hover,
.swiper-pagination-clickable .swiper-pagination-bullet,
.menu__button,
.menu__button-close,
.menu__button-open {
    cursor: url("../images/cursor/cursor-pointer-@2x.png"), auto;
  }
  @supports (cursor: url("data:image/webp")) {
    a,
button,
.button,
.button--transparent,
.contacts__button,
.contacts__button--transparent,
.gallery__image:hover,
.swiper-pagination-clickable .swiper-pagination-bullet,
.menu__button,
.menu__button-close,
.menu__button-open {
      cursor: url("../images/cursor/cursor-pointer-@2x.webp"), auto;
    }
  }
}

.gallery-image {
  cursor: url("../images/cursor/cursor-grab-@1x.png"), auto;
}
@supports (cursor: url("data:image/webp"), auto) {
  .gallery-image {
    cursor: url("../images/cursor/cursor-grab-@1x.webp"), auto;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .gallery-image {
    cursor: url("../images/cursor/cursor-grab-@2x.png"), auto;
  }
  @supports (cursor: url("data:image/webp")) {
    .gallery-image {
      cursor: url("../images/cursor/cursor-grab-@2x.webp"), auto;
    }
  }
}

.modal-franchise__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  background-color: transparent;
  overflow-y: scroll;
}

.modal-franchise {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  width: 100%;
  padding: 28px 30px 28px 28px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .modal-franchise {
    position: absolute;
    max-width: 568px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px 60px;
  }
}
.modal-franchise__button--close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  border: none;
}
.modal-franchise__title {
  display: block;
  margin-bottom: 20px;
  font-family: "Seymour One", sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 768px) {
  .modal-franchise__title {
    width: 322px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 140%;
  }
}
.modal-franchise__text {
  margin-bottom: 24px;
  line-height: 140%;
}
@media screen and (min-width: 768px) {
  .modal-franchise__text {
    margin-bottom: 32px;
    font-size: 16px;
  }
}/*# sourceMappingURL=index.css.map */