// $modal-forms: (
//   'modal-about-all': 449px,
//   'modal-buy-now': 644px,
//   'modal-buy-now-mobile': 961px,
//   'modal-franchise-all': 668px,
//   'modal-locations': 458px,
//   'modal-locations-mobile': 365px,
//   'modal-product-all': 996px,
// );

// @function get-modal-form($key) {
//   @return map-get($modal-forms, $key);
// }

@mixin media-mobile {
  @media screen and (max-width: $mobile-adaptive-max) {
    @content;
  }
}

@mixin media-tablet {
  @media screen and (min-width: $tablet-min) {
    @content;
  }
}

@mixin mx-modal-view($width, $key) {
  $tablet-width: 568px;
  $height: 0;

  @if $key == 'modal-about' {
    $height: 500px;
  } @else if $key == 'modal-franchise' {
    $height: 700px;
  } @else if $key == 'modal-product' {
    $height: 1000px;
  } @else if $key == 'modal-buy-now' {
    @if $width < $tablet-width {
      $height: 1000px;
    } @else {
      $height: 620px;
    }
  } @else if $key == 'modal-locations' {
    @if $width < $tablet-width {
      $height: 400px;
    } @else {
      $height: 500px;
    }
  }

  @media screen and (max-width: $width), (max-height: $height) {
    top: 20px;
    transform: translate(-50%);
  }
}
