// Fonts
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Seymour One', sans-serif;
$font-family-third: 'Titan One', cursive;

//Text color
$text-color-primary: #131313;
$text-color-secondary: #fcfcfc;

//Background color
$bg-color-primary: #84a178;
$bg-color-secondary: #fcfcfc;

//Link color
$link-color-default: #f8d24e;
$link-color-hover: #0a8817;
$link-color-focus: #fcfcfc;
$link-color-disabled: #ababab;

//Button border color
$button-border-color-default: #f8d24e;
$button-border-color-hover-focus: #0a8817;
$button-border-color-disabled: #ababab;

//Button background color
$button-bg-color-default: #f8d24e;
$button-bg-color-hover-focus: #0a8817;
$button-bg-color-disabled: #ababab;

//pagination background-color none active
$pag-bg-color-n-active: #d9d9d9;

// Breakpoints
$mobile-responsive-max: 479px;
$mobile-adaptive-min: 480px;
$mobile-adaptive-max: 767px;
$tablet-min: 768px;
$tablet-max: 1199px;
$desktop-min: 1200px;



//backdrop background-color
$backdrop-bg-color: rgba(129, 124, 124, 0.2);


//modal__close-button fill :hover
$button-cross-fill-hover: #f8d24e;


//products border color default
$product-border-color-green-default: #96AF8C;
$product-border-color-yellow-default: #EFD478;
$product-border-color-orange-default: #D6936D;

//products border color checked
$product-border-color-green-checked: #AEC6A5;
$product-border-color-yellow-checked: #EFD478;
$product-border-color-orange-checked: #D6936D;

//products bg color checked
$product-bg-color-green-checked: #AEC6A5;
$product-bg-color-yellow-checked: #EFD478;
$product-bg-color-orange-checked: #D6936D;

//products -holder- bg:before 
$product-bg-green: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)),
#D9D9D9;
$product-bg-yellow: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)),
#D9D9D9;
$product-bg-orange: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)),
#D9D9D9;

//products -holder- box-shadow:before 
$product-box-shadow-green: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
$product-box-shadow-yellow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
$product-box-shadow-orange: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);


//input 
$input-bg-color: rgba(248, 210, 78, 0.1);

$input-color-invalid: #bf4a41;
$input-border-color-invalid: #bf4a41;


