// Fonts
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Seymour One', sans-serif;
$font-family-third: 'Titan One', cursive;

//Text color
$text-color-primary: #131313;
$text-color-secondary: #fcfcfc;

//Background color
$bg-color-primary: #84a178;
$bg-color-secondary: #fcfcfc;

//Link color
$link-color-default: #f8d24e;
$link-color-hover: #0a8817;
$link-color-focus: #fcfcfc;
$link-color-disabled: #ababab;

//Button border color
$button-border-color-default: #f8d24e;
$button-border-color-hover-focus: #0a8817;
$button-border-color-disabled: #ababab;

//Button background color
$button-bg-color-default: #f8d24e;
$button-bg-color-hover-focus: #0a8817;
$button-bg-color-disabled: #ababab;

//pagination background-color none active
$pag-bg-color-n-active: #d9d9d9;

// Breakpoints
$mobile-responsive-max: 479px;
$mobile-adaptive-min: 480px;
$mobile-adaptive-max: 767px;
$tablet-min: 768px;
$tablet-max: 1199px;
$desktop-min: 1200px;
