<div class="about-modal__backdrop is-hidden" data-modal>
  <div class="about-modal">
    <button class="about-modal__button--close" data-modal-close>
      <svg width="" height="">
        <use href="./images/sprite.svg#icon-close-line"></use>
      </svg>
    </button>

    <h2 class="about-modal__title">How it’s made?</h2>

    <iframe
      class="about-modal__video"
      width="224"
      height="199"
      src="https://www.youtube.com/embed/w4qRrt3HwGg"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <p class="about-modal__text">
      Ice cream is a complex product. Dairy ice cream contains milk fat, and
      other components, such as proteins and carbohydrates. Sweeteners,
      flavourings, emulsifiers and stabilisers are added during processing to
      enhance flavour, texture or appearance.
    </p>
  </div>
</div>
