<p class="about__label">tradition and love</p>
<h2 class="about__title">how it’s made?</h2>

<div class="about__wrapper">
  <div class="about__img-wrapper">
    <picture class="about__picture">
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/about_cow_desk.webp    1x,
          ./images/about_cow_desk@2x.webp 2x
        "
        type="image/webp"
      />

      <source
        srcset="
          ./images/about_cow_desk.png    1x,
          ./images/about_cow_desk@2x.png 2x
        "
        media="(min-width: 1200px)"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/about_cow_tablet.webp    1x,
          ./images/about_cow_tablet@2x.webp 2x
        "
        type="image/webp"
      />

      <source
        srcset="
          ./images/about_cow_tablet.png    1x,
          ./images/about_cow_tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/about_cow_mob.webp    1x,
          ./images/about_cow_mob@2x.webp 2x
        "
        type="image/webp"
      />

      <source
        srcset="./images/about_cow_mob.png 1x, ./images/about_cow_mob@2x.png 2x"
        media="(max-width: 767px)"
      />
      <img
        class="about__img"
        src="./images/about_cow_mob.png"
        alt="cow in the field"
        loading="lazy"
      />
    </picture>
  </div>

  <div class="about__text-button-wrapper">
    <p class="about__text--first">
      Ice is a place where you will become not only a little happier, but also
      healthier. Health is the main value for us, and we follow it when creating
      our handmade desserts.
    </p>
    <p class="about__text--second">
      We use traditional recipes and 100% natural ingredients. Our products are
      so natural that they can be given to children from the age of three years.
      Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
      milkshakes.
    </p>
    <p class="about__text--third">
      This is enough to choose ice cream and coffee for any mood!
    </p>

    <button class="about__button button" type="button" data-modal-open>
      Read more
      <svg class="about__button-icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-arrow-right-bold"></use>
      </svg>
    </button>
  </div>
</div>
