<!-- Advantages part-->

<h2 class="visibility-hidden">Advantages</h2>
<ul class="list advantages__list">
    <li class="advantages__item">
        <p class="advantages__number">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
        <p class="advantages__number">16kg</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
        <p class="advantages__number">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>