<h2 class="visibility-hidden">Our locations</h2>
<ul class="contacts__list">
  <li class="agency">
    <ul class="agency__data">
      <li class="agency__type">cafe</li>
      <li class="agency__location">
        <p class="agency__city">Chicago</p>
        <a
          class="agency__address"
          href="https://goo.gl/maps/ezSoAgi8zhR7riRD9"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
      </li>
      <li class="agency__schedule">
        <p class="agency__workdays">Monday - Friday</p>
        <p class="agency__workhours">06:00 AM - 10:00 PM</p>
        <p class="agency__workdays">Saturday - Sunday</p>
        <p class="agency__workhours">08:00 AM - 16:00 PM</p>
      </li>
      <li class="agency__contacts">
        <a class="agency__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="agency__mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
  </li>
  <li class="agency">
    <ul class="agency__data">
      <li class="agency__type">food truck</li>
      <li class="agency__location">
        <p class="agency__city">Los Angeles</p>
        <a
          class="agency__address"
          href="https://goo.gl/maps/MN5BpGpgW4YB7p3KA"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
      </li>
      <li class="agency__schedule">
        <p class="agency__workdays">Monday - Friday</p>
        <p class="agency__workhours">06:00 AM - 10:00 PM</p>
        <p class="agency__workdays">Saturday - Sunday</p>
        <p class="agency__workhours">08:00 AM - 16:00 PM</p>
      </li>
      <li class="agency__contacts">
        <a class="agency__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="agency__mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
  </li>
  <li class="agency">
    <ul class="agency__data">
      <li class="agency__type">cafe</li>
      <li class="agency__location">
        <p class="agency__city">New York</p>
        <a
          class="agency__address"
          href="https://goo.gl/maps/9q4L5gq7WevktDbF8"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
      </li>
      <li class="agency__schedule">
        <p class="agency__wdays">Monday - Friday</p>
        <p class="agency__workhours">06:00 AM - 10:00 PM</p>
        <p class="agency__wdays">Saturday - Sunday</p>
        <p class="agency__workhours">08:00 AM - 16:00 PM</p>
      </li>
      <li class="agency__contacts">
        <a class="agency__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="agency__mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
  </li>
</ul>
<div class="contacts__wrapper">
  <button
    class="contacts__button"
    type="button"
    data-modal-open="modal-location"
  >
    Our Locations
    <svg class="contacts__icon" width="12" height="12">
      <use href="./images/sprite.svg#icon-arrow-right-bold"></use>
    </svg>
  </button>
  <button
    class="contacts__button--transparent"
    type="button"
    data-modal-open="modal-franchise"
  >
    Franchise
    <svg class="contacts__icon" width="12" height="12">
      <use href="./images/sprite.svg#icon-arrow-right-bold"></use>
    </svg>
  </button>
</div>
