<div class="footer__body">
    <div class="footer__main">
        <p class="footer__main-title">Homemade ice cream made<span class="footer__main-text">with passion</span></p>
    </div>
    <div class="footer__contacts">
        <ul class="footer__contacts-social">
            <li class="social-item"><a href="https://github.com/" class="social-link"
                target="_blank"
                rel="noopener noreferrer">
                <svg class="social-icon" width="34" height="34">
                <use href="./images/sprite.svg#icon-github"></use>
                </svg></a>
            </li>
            <li class="social-item"><a href="https://telegram.org/?setln=uk" class="social-link"
                target="_blank"
                rel="noopener noreferrer">
                <svg class="social-icon" width="34" height="34">
                <use href="./images/sprite.svg#icon-telegram"></use>
                </svg></a>
            </li>
            <li class="social-item"><a href="https://www.facebook.com/" class="social-link"
                target="_blank"
                rel="noopener noreferrer">
                <svg class="social-icon" width="34" height="34">
                <use href="./images/sprite.svg#icon-facebook"></use>
                </svg></a>
            </li>
        </ul>
        <p class="footer__contacts-text">Feel free to contact<a href="tel:+610383766284" class="footer__contacts-tel footer__link">&nbsp;+61 (0) 383 766 284<span></p>
    </div>
</div>    