<h2 class="visibility-hidden">Gallery</h2>

<!-- Slider main container -->
<div class="swiper swiper-container swiper--no-crossfade">
  <!-- Additional required wrapper -->
  <ul class="gallery__list swiper-wrapper">
    <!-- Slides -->
    <li class="gallery__item swiper-slide" data-swiper-autoplay="3000">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/desk-gallery-1-@1x-1013.webp 1x,
            ./images/gallery/desk-gallery-1-@2x-2026.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/desk-gallery-1-@1x-1013.jpg 1x,
            ./images/gallery/desk-gallery-1-@2x-2026.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/tab-gallery-1-@1x-704.webp  1x,
            ./images/gallery/tab-gallery-1-@2x-1408.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/tab-gallery-1-@1x-704.jpg  1x,
            ./images/gallery/tab-gallery-1-@2x-1408.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 480px)"
          srcset="
            ./images/gallery/mob-gallery-1-@1x-480.webp 1x,
            ./images/gallery/mob-gallery-1-@2x-960.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 480px)"
          srcset="
            ./images/gallery/mob-gallery-1-@1x-480.jpg 1x,
            ./images/gallery/mob-gallery-1-@2x-960.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./images/gallery/mob-gallery-1-@1x-280.webp 1x,
            ./images/gallery/mob-gallery-1-@2x-560.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./images/gallery/mob-gallery-1-@1x-280.jpg 1x,
            ./images/gallery/mob-gallery-1-@2x-560.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="gallery__image"
          src="./images/gallery/mob-gallery-1-@1x-280.jpg"
          alt="9 ice cream cones with blueberries"
          width="280"
          height="130"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery__item swiper-slide" data-swiper-autoplay="3000">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/desk-gallery-2-@1x-1013.webp 1x,
            ./images/gallery/desk-gallery-2-@2x-2026.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/desk-gallery-2-@1x-1013.jpg 1x,
            ./images/gallery/desk-gallery-2-@2x-2026.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/tab-gallery-2-@1x-704.webp  1x,
            ./images/gallery/tab-gallery-2-@2x-1408.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/tab-gallery-2-@1x-704.jpg  1x,
            ./images/gallery/tab-gallery-2-@2x-1408.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 480px)"
          srcset="
            ./images/gallery/mob-gallery-2-@1x-480.webp 1x,
            ./images/gallery/mob-gallery-2-@2x-960.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 480px)"
          srcset="
            ./images/gallery/mob-gallery-2-@1x-480.jpg 1x,
            ./images/gallery/mob-gallery-2-@2x-960.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./images/gallery/mob-gallery-2-@1x-280.webp 1x,
            ./images/gallery/mob-gallery-2-@2x-560.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./images/gallery/mob-gallery-2-@1x-280.jpg 1x,
            ./images/gallery/mob-gallery-2-@2x-560.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="gallery__image"
          src="./images/gallery/mob-gallery-2-@1x-280.jpg"
          alt="5 waffle cones with different ice cream"
          width="280"
          height="130"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery__item swiper-slide" data-swiper-autoplay="3000">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/desk-gallery-3-@1x-1013.webp 1x,
            ./images/gallery/desk-gallery-3-@2x-2026.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/desk-gallery-3-@1x-1013.jpg 1x,
            ./images/gallery/desk-gallery-3-@2x-2026.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/tab-gallery-3-@1x-704.webp  1x,
            ./images/gallery/tab-gallery-3-@2x-1408.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/tab-gallery-3-@1x-704.jpg  1x,
            ./images/gallery/tab-gallery-3-@2x-1408.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 480px)"
          srcset="
            ./images/gallery/mob-gallery-3-@1x-480.webp 1x,
            ./images/gallery/mob-gallery-3-@2x-960.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 480px)"
          srcset="
            ./images/gallery/mob-gallery-3-@1x-480.jpg 1x,
            ./images/gallery/mob-gallery-3-@2x-960.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./images/gallery/mob-gallery-3-@1x-280.webp 1x,
            ./images/gallery/mob-gallery-3-@2x-560.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./images/gallery/mob-gallery-3-@1x-280.jpg 1x,
            ./images/gallery/mob-gallery-3-@2x-560.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="gallery__image"
          src="./images/gallery/mob-gallery-3-@1x-280.jpg"
          alt="5 fruit ice lolly"
          width="280"
          height="130"
          loading="lazy"
        />
      </picture>
    </li>
  </ul>
</div>
