<!-- Modal with info about product -->

<div>
    <div class="modal-product">
        <button class="modal-product__close" data-modal-close>
            <svg class="modal-product__icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-close-line"></use>
            </svg>
        </button>
        <h3 class="modal-product__title">Chololate icecream</h3>
        <ul class="modal-product__list">
            <li class="modal-product__item">
                <div class="modal-product__oval">
                    <div class="modal-product__circle">
                        <span class="modal-product__number">320</span>
                    </div>
                    <span class="modal-product__text">kcal</span>
                </div>
            </li>
            <li class="modal-product__item">
                <div class="modal-product__oval">
                    <div class="modal-product__circle">
                        <span class="modal-product__number">4g</span>
                    </div>
                    <span class="modal-product__text">Protein...</span>
                </div>
            </li>
            <li class="modal-product__item">
                <div class="modal-product__oval">
                    <div class="modal-product__circle">
                        <span class="modal-product__number">8,2g</span>
                    </div>
                    <span class="modal-product__text">Fats</span>
                </div>
            </li>
            <li class="modal-product__item">
                <div class="modal-product__oval">
                    <div class="modal-product__circle">
                        <span class="modal-product__number">40,4g</span>
                    </div>
                    <span class="modal-product__text">Carbs</span>
                </div>
            </li>
        </ul>
        <h4 class="modal-product__subtitle">Ingredients</h4>
        <ul class="modal-product__ingredients">
            <li class="modal-product__ingredient">
                <p class="modal-product__name">Milk</p>
                <p class="modal-product__quantity">100ml</p>
            </li>
            <li class="modal-product__ingredient">
                <p class="modal-product__name">Belgian chocolate</p>
                <p class="modal-product__quantity">20g</p>
            </li>
            <li class="modal-product__ingredient">
                <p class="modal-product__name">Cream</p>
                <p class="modal-product__quantity">150 ml</p>
            </li>
            <li class="modal-product__ingredient">
                <p class="modal-product__name">Cocoa powder</p>
                <p class="modal-product__quantity">30g</p>
            </li>
            <li class="modal-product__ingredient">
                <p class="modal-product__name">Sugar</p>
                <p class="modal-product__quantity">40g</p>
            </li>
            <li class="modal-product__ingredient">
                <p class="modal-product__name">Vanilla sugar</p>
                <p class="modal-product__quantity">10g</p>
            </li>
        </ul>
        <form class="modal-product__form" action="#">
            <label class="modal-product__field">
                <span class="modal-product__label">Name</span>
                <input class="modal-product__input" type="text" name="username">
            </label>
            <label class="modal-product__field">
                <span class="modal-product__label">Phone</span>
                <input class="modal-product__input" type="tel" name="usertel">
            </label>
            <label class="modal-product__comment">
                <span class="modal-product__label">Comment</span>
                <textarea class="modal-product__textarea" name="comment" placeholder="" rows="3"></textarea>
            </label>
            <button class="modal-product__button" type="submit">Submit</button>
        </form>
    </div>
</div>




<!-- <div class="backdrop backdrop--hidden" data-modal>
    <div class="modal">
        <button class="button modal__close" data-modal-close>
            <svg class="modal__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal__text">Залиште свої дані, ми вам передзвонимо</p>
        <form class="form" action="#">
            <label class="form__field">
                <span class="form__label">Ім'я</span>
                <input class="form__input" type="text" name="username">
                <svg class="form__icon" width="18" height="18">
                    <use href="./images/icons.svg#icon-person"></use>
                </svg>
            </label>
            <label class="form__field">
                <span class="form__label">Телефон</span>
                <input class="form__input" type="tel" name="usertel">
                <svg class="form__icon" width="18" height="18">
                    <use href="./images/icons.svg#icon-phone"></use>
                </svg>
            </label>
            <label class="form__field">
                <span class="form__label">Пошта</span>
                <input class="form__input" type="email" name="useremail">
                <svg class="form__icon" width="18" height="18">
                    <use href="./images/icons.svg#icon-email"></use>
                </svg>
            </label>
            <label class="form__comment">
                <span class="form__label">Коментар</span>
                <textarea class="form__textarea" name="comment" placeholder="Введіть текст" rows="6"></textarea>
            </label>
            <label class="checkbox form__checkbox">
                <input class="checkbox__input" type="checkbox" name="useragreement">
                <span class="checkbox__icon"></span>
                <span class="checkbox__label">Погоджуюся з розсилкою та приймаю</span>
                <a href="#" class="checkbox__link">Умови договору</a>
            </label>
            <button class="button form__button" type="submit">Відправити</button>
        </form>
    </div>
</div> -->