<!-- Modal with info about product -->

<button class="modal-product__open" data-modal-product-open>Product</button>

<div class="backdrop backdrop--hidden" data-modal-product>
    <div class="modal-product">
        <button class="modal-product__close" data-modal-product-close>
            <svg class="modal-product__icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-close-line"></use>
            </svg>
        </button>
        <h3 class="modal-product__title">Chololate icecream</h3>
        <ul class="modal-product__list">
            <li class="modal-product__item">
                <div class="modal-product__oval">
                    <div class="modal-product__circle">
                        <span class="modal-product__number">320</span>
                    </div>
                    <span class="modal-product__text">kcal</span>
                </div>
            </li>
            <li class="modal-product__item">
                <div class="modal-product__oval">
                    <div class="modal-product__circle">
                        <span class="modal-product__number">4g</span>
                    </div>
                    <span class="modal-product__text">Protein...</span>
                </div>
            </li>
            <li class="modal-product__item">
                <div class="modal-product__oval">
                    <div class="modal-product__circle">
                        <span class="modal-product__number">8,2g</span>
                    </div>
                    <span class="modal-product__text">Fats</span>
                </div>
            </li>
            <li class="modal-product__item">
                <div class="modal-product__oval">
                    <div class="modal-product__circle">
                        <span class="modal-product__number">40,4g</span>
                    </div>
                    <span class="modal-product__text">Carbs</span>
                </div>
            </li>
        </ul>
        <h4 class="modal-product__subtitle">Ingredients</h4>
        <ul class="modal-product__ingredients">
            <li class="modal-product__ingredient">
                <p class="modal-product__name">Milk</p>
                <p class="modal-product__quantity">100ml</p>
            </li>
            <li class="modal-product__ingredient">
                <p class="modal-product__name">Belgian chocolate</p>
                <p class="modal-product__quantity">20g</p>
            </li>
            <li class="modal-product__ingredient">
                <p class="modal-product__name">Cream</p>
                <p class="modal-product__quantity">150 ml</p>
            </li>
            <li class="modal-product__ingredient">
                <p class="modal-product__name">Cocoa powder</p>
                <p class="modal-product__quantity">30g</p>
            </li>
            <li class="modal-product__ingredient">
                <p class="modal-product__name">Sugar</p>
                <p class="modal-product__quantity">40g</p>
            </li>
            <li class="modal-product__ingredient">
                <p class="modal-product__name">Vanilla sugar</p>
                <p class="modal-product__quantity">10g</p>
            </li>
        </ul>
        <form class="modal-product__form form" action="#">
            <label class="form__field">
                <span class="form__label">Name</span>
                <input class="form__input" type="text" name="username" required pattern="[a-zA-Z]{3,45}">
            </label>
            <label class="form__field">
                <span class="form__label">Phone</span>
                <input class="form__input" type="tel" name="usertel" required pattern="[0-9]{12}">
            </label>
            <label class="form__comment">
                <span class="form__label">Comment</span>
                <textarea class="form__textarea" name="comment" placeholder="" rows="3"></textarea>
            </label>
            <button class="form__button" type="submit">Submit</button>
        </form>
    </div>
</div>

<script>
    (() => {
        const refs = {
            openModalBtn: document.querySelector("[data-modal-product-open]"),
            closeModalBtn: document.querySelector("[data-modal-product-close]"),
            modal: document.querySelector("[data-modal-product]"),
        };

        refs.openModalBtn.addEventListener("click", toggleModal);
        refs.closeModalBtn.addEventListener("click", toggleModal);

        function toggleModal() {
            document.body.classList.toggle("modal-product-open");
            refs.modal.classList.toggle("backdrop--hidden");
        }
    })();
</script>