<div class="modal-location" data-modal-body>
  <div class="modal-location__close" tabindex="0" data-modal-close>
    <svg class="modal-location__icon" width="20" height="20">
      <use href="./images/sprite.svg#icon-close-line"></use>
    </svg>
  </div>

  <h2 class="modal-location__heading">Our Locations</h2>

  <div class="modal-location_iframe-wrapper">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.793118654225!2d-87.7797405!3d41.7034016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2zMTAzNDAgUmlkZ2VsYW5kIEF2ZSwgQ2hpY2FnbyBSaWRnZSwgSUwgNjA0MTUsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1672135512062!5m2!1suk!2sua"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <a
    class="button modal-location__button"
    href="https://goo.gl/maps/HbXaSvnxZtKrh7oU6"
    target="_blank"
    rel="nofollow noopener noreferrer"
    >Open map</a
  >
</div>
