<div class="modal__backdrop is-hidden" data-modal-location>
  <div class="modal-location">
    <div class="modal__close" tabindex="0" data-modal-location-close>
      <svg class="modal__icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close-line"></use>
      </svg>
    </div>
    <h2 class="modal__heading">Our Locations</h2>
    <iframe
      class="iframe-modal"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2586.6563488076717!2d34.54962161558264!3d49.58537097936536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f26f86315bd%3A0xa32b395010300dd!2z0JLQhtCi0JDQm9Ck0KPQlA!5e0!3m2!1sru!2sua!4v1671990375418!5m2!1sru!2sua"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <a
      class="button our-location__button"
      href="https://goo.gl/maps/nyWqNKjYuqmXu5v46"
      rel="nofollow noopener noreferrer"
      >Open map</a
    >
  </div>
</div>
