<div class="modal-franchise">
  <button type="button" class="modal-franchise__button--close" data-modal-close>
    <svg class="modal-franchise__icon" width="20" height="20">
      <use href="./images/sprite.svg#icon-close-line"></use>
    </svg>
  </button>

  <span class="modal-franchise__title"
    >Thank you for your interest in owning an Ice Cream shop</span
  >

  <p class="modal-franchise__text">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>

  <form class="form" action="#">
    <div class="form__field">
      <input
        class="form__input"
        type="text"
        name="username"
        placeholder="Name"
        id="username"
        required
        pattern="[a-zA-Z ]{3,45}"
        autocomplete="off" title="Enter your name"
      />
      <label class="form__label" for="username">Name</label>
    </div>

    <div class="form__field">
      <input
        class="form__input"
        type="tel"
        name="usertel"
        placeholder="Phone"
        id="usertel"
        required
        pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?"
        title="Enter your phone number, at least 10 numbers"
      />
      <label class="form__label" for="usertel">Phone</label>
    </div>

    <div class="form__field">
      <input
        class="form__input"
        type="email"
        name="usermail"
        placeholder="Email"
        id="usermail"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        title="Please, enter your valid email adress"
      />
      <label class="form__label" for="usermail">Email</label>
    </div>
    <div class="form__comment">
      <textarea
      class="form__textarea"
      id="usercomment"
      name="comment"
      placeholder="Enter your comment"
      rows="3"
      title="Enter your comment"
      ></textarea>
      <label class="form__label" for="usercomment">Comment</label>
    </div>
    <button class="form__button button" type="submit">Submit</button>
  </form>
</div>
