<div class="modal-buy" data-modal-body>
  <button class="modal-buy_close-btn" aria-label="close-btn" data-modal-close>
    <svg class="modal-buy_btn-icon" width="20" height="20">
      <use href="./images/sprite.svg#icon-close-line"></use>
    </svg>
  </button>
  <form class="modal__form js-speaker-form" autocomplete="on">
    <h2 class="modal__caption">Buy now</h2>

    <!--products__choose  -->
    <ul class="modal-buy-products">
      <li class="modal-buy-products__box">
        <label class="modal-buy-products__choose">
          <picture>
            <source
              srcset="./images/ice-cream.webp 1x, ./images/ice-cream@2x.webp 2x"
              type="image/webp"
            />

            <source
              srcset="./images/ice-cream.png 1x, ./images/ice-cream@2x.png 2x"
              type="image/png"
            />
            <img
              class="modal-buy-products__img"
              src="./images/ice-cream.png"
              alt="Ice cream"
              width="132"
              loading="lazy"
            />
          </picture>
          <span class="modal-buy-products__wrap">
            <input
              type="checkbox"
              name="ice-cream"
              class="modal-buy-products__checkbox"
            />
            <span
              class="modal-buy-products__holder modal-buy-products__holder--green"
              >ice cream</span
            >
          </span>
        </label>
      </li>

      <li class="modal-buy-products__box">
        <label class="modal-buy-products__choose">
          <picture>
            <source
              srcset="./images/ice-coffe.webp 1x, ./images/ice-coffe@2x.webp 2x"
              type="image/webp"
            />

            <source
              srcset="./images/ice-coffe.png 1x, ./images/ice-coffe@2x.png 2x"
              type="image/png"
            />
            <img
              class="modal-buy-products__img"
              src="./images/ice-coffe.png"
              alt="Ice coffee"
              width="132"
              loading="lazy"
            />
          </picture>
          <span class="modal-buy-products__wrap">
            <input
              type="checkbox"
              name="ice-coffee"
              class="modal-buy-products__checkbox"
              checked
            />
            <span
              class="modal-buy-products__holder modal-buy-products__holder--yellow"
              >ice coffee</span
            >
          </span>
        </label>
      </li>

      <li class="modal-buy-products__box">
        <label class="modal-buy-products__choose">
          <picture>
            <source
              srcset="
                ./images/milkshakes.webp    1x,
                ./images/milkshakes@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="./images/milkshakes.png 1x, ./images/milkshakes@2x.png 2x"
              type="image/png"
            />

            <img
              class="modal-buy-products__img"
              src="./images/milkshakes.png"
              alt="Milkshake"
              width="132"
              loading="lazy"
            />
          </picture>
          <span class="modal-buy-products__wrap">
            <input
              type="checkbox"
              name="milkshake"
              class="modal-buy-products__checkbox"
            />
            <span
              class="modal-buy-products__holder modal-buy-products__holder--orange"
              >milkshake</span
            >
          </span>
        </label>
      </li>
    </ul>

    <!-- group input -->
    <div role="group" class="group">
      <div class="form__field form__field--gap">
        <input
          class="form__input"
          type="text"
          name="username"
          id="form-buy-now_username"
          pattern="[a-zA-Z ]{3,45}"
          required
          autocomplete="off"
          placeholder="Enter your name"
          title="Enter your name"
        />
        <label
          class="form__label form__label--font-size"
          for="form-buy-now_username"
          >Name</label
        >
      </div>

      <div class="form__field form__field--gap">
        <input
          class="form__input"
          type="tel"
          id="form-buy-now_usertel"
          name="usertel"
          title="+38-000-000-00-00"
          pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?"
          title="Enter your phone number, at least 10 numbers"
          required
          placeholder="Enter your phone number"
        />
        <label
          class="form__label form__label--font-size"
          for="form-buy-now_usertel"
          >Phone</label
        >
      </div>

      <div class="form__comment form__comment--gap">
        <textarea
          class="form__textarea"
          id="form-buy-now_usercomment"
          name="comment"
          placeholder="Enter your comment"
          rows="3"
          title="Enter your comment"
        ></textarea>
        <label
          class="form__label form__label--font-size"
          for="form-buy-now_usercomment"
          >Comment</label
        >
      </div>

      <button class="button button--submit" type="submit">Submit</button>
    </div>
  </form>
</div>
