<div class="backdrop is-hidden">
    <div class="modal">
        <button class="close-btn" aria-label="close-btn">
            <svg class="close-btn__icon" width="11" height="11">
                <use href="./images/sprite.svg#icon-close-line"></use>
            </svg>
        </button>
        <form class="modal__form" autocomplete="on">
            <h2 class="modal__caption">Buy now</h2>
            <ul class="products">

                <li class="products__box">
                    <label class="products__choose">
                        <img class="products__img" src="./images/ice-cream.png" alt=""
                            srcset="./images/ice-cream.png 1x, ./images/ice-cream@2x.png 2x" width="132" loading="lazy">
                        <input type="checkbox" name="" class="products__checkbox">
                        <span class="products__holder products__holder--green">ice cream</span>
                    </label>
                </li>

                <li class="products__box">
                    <label class="products__choose">
                        <img class="products__img" src="./images/ice-coffe.png" alt=""
                            srcset="./images/ice-coffe.png 1x, ./images/ice-coffe@2x.png 2x" width="132" loading="lazy">
                        <input type="checkbox" name="" class="products__checkbox" checked>
                        <span class="products__holder products__holder--yellow">ice coffee</span>
                    </label>
                </li>

                <li class="products__box">
                    <label class="products__choose">
                        <img class="products__img" src="./images/milkshakes.png" alt=""
                            srcset="./images/milkshakes.png 1x, ./images/milkshakes@2x.png 2x" width="132" loading="lazy">
                        <input type="checkbox" name="" class="products__checkbox">
                        <span class="products__holder products__holder--orange">milkshake</span>
                    </label>
                </li>
                </ul>
                
                <div role="group" class="group">
                    <div class="form-field">
                        <input class="form-field__input" type="text" name="name" minlength="3" required autocomplete="off">
                
                        <span class="form-field__wrap">Name</span>
                    </div>
                
                    <div class="form-field">
                        <input class="form-field__input" type="tel" name="user-tel" title="+38-___-___-__-__"
                            pattern="^\+?[0-9]{2}-?[0-9]{3}-?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$" required>
                        <span class="form-field__wrap">Phone</span>
                    </div>
                
                    <div class="form-field form-field--textarea">
                        <textarea class="form-field__textarea" name="comment"></textarea>
                        <span class="form-field__wrap">Comment</span>
                    </div>
                
                    <button class="btn btn--submit" type="submit">Submit</button>
                </div>
                </form>
                </div>
                </div>