<p class="section-label">100% natural</p>
<h2 class="section-heading">products</h2>
<ul class="products-list">
    <li class="products-item">
        <h3 class="products-item__title">ice cream</h3>
        <p class="products-item__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
        <button class="products-button"><svg class=""  width="40" height="16" ><use href="./images/sprite.svg#icon-arrow-right" ></use></svg></button>
    </li>
    <li class="products-item">
        <h3 class="products-item__title">ice coffee</h3>
        <p class="products-item__text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
        <button class="products-button"><svg class=""  width="40" height="16" ><use href="./images/sprite.svg#icon-arrow-right" ></use></svg></button>
    </li>
    <li class="products-item">
        <h3 class="products-item__title">milkshakes</h3>
        <p class="products-item__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
        <button class="products-button"><svg class=""  width="40" height="16" ><use href="./images/sprite.svg#icon-arrow-right" ></use></svg></button>
    </li>
</ul>
