<h2 class="visibility-hidden">Customer reviews</h2>

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <ul class="reviews__list swiper-wrapper">
    <!-- Slides -->
    <li class="reviews__item swiper-slide">
      <picture>
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/reviews/review-1-@1x-85.webp  1x,
            ./images/reviews/review-1-@2x-170.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./images/reviews/review-1-@1x-85.jpg  1x,
            ./images/reviews/review-1-@2x-170.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="reviews__image"
          src="./images/reviews/review-1-@1x-85.jpg"
          alt="Black-haired woman in a T-shirt"
          width="85"
          height="85"
          loading="lazy"
        />
      </picture>

      <p class="reviews__text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>

      <h3 class="reviews__name">Emily, Los Angeles</h3>
    </li>
    <li class="reviews__item swiper-slide">
      <picture>
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/reviews/review-2-@1x-85.webp  1x,
            ./images/reviews/review-2-@2x-170.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./images/reviews/review-2-@1x-85.jpg  1x,
            ./images/reviews/review-2-@2x-170.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="reviews__image"
          src="./images/reviews/review-2-@1x-85.jpg"
          alt="A black man in a pink baseball cap and ice cream"
          width="85"
          height="85"
          loading="lazy"
        />
      </picture>

      <p class="reviews__text">
        Every day we come to you with friends after classes in college. We love
        your ice cream and casual atmosphere!
      </p>
      <h3 class="reviews__name">Bryan, New-York</h3>
    </li>
    <li class="reviews__item swiper-slide">
      <picture>
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/reviews/review-3-@1x-85.webp  1x,
            ./images/reviews/review-3-@2x-170.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./images/reviews/review-3-@1x-85.jpg  1x,
            ./images/reviews/review-3-@2x-170.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="reviews__image"
          src="./images/reviews/review-3-@1x-85.jpg"
          alt="Laughing woman with ice cream"
          width="85"
          height="85"
          loading="lazy"
        />
      </picture>

      <p class="reviews__text">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </p>
      <h3 class="reviews__name">Diana, Chicago</h3>
    </li>
    <!-- ... -->
  </ul>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>
