.about {
    padding-top: 61px;
    padding-bottom: 50px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 86px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 99px;
    }
}


// .section-label {
//     color: #FCFCFC;
//     margin-bottom: 12px;
// }


.about__label {
    font-family: $font-family-primary;
    // font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: $text-color-secondary;
    margin-bottom: 12px;

@media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    }

@media screen and (min-width: 1200px) {
    font-size: 30px;
    }
}

// .section-heading {
//     color: #FCFCFC;
//     width: 200px;
//     margin: auto;
//     margin-bottom: 32px;

//     @media screen and (min-width: 768px) {
//         width: auto;
//         margin-bottom: 72px;
//     }

//     @media screen and (min-width: 1200px) {
//         margin-bottom: 82px;
//     }
// }

.about__title {
    font-family: $font-family-secondary;
    // font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-color-secondary;
    
    // width: 200px;
    // margin: auto;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 1.26;
        letter-spacing: 0.06em;
        width: auto;
        margin-bottom: 72px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.25;
        margin-bottom: 82px;
    }
}


.about__wrapper {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        gap: 38px;
    }
    
    @media screen and (min-width: 1200px) {
        gap: 109px;
    }
}


.about__img-wrapper {
    position: relative;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 140px;
    width: 278px;
    height: 279px;
    margin: 0 auto 40px;
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 40px;
    
    @media screen and (min-width: 768px) {
        box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
        border-radius: 165px;
        width: 330px;
        height: 330px;
        margin-bottom: 0;
    }
    
    @media screen and (min-width: 1200px) {
        box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
        border-radius: 250px;
        width: 490px;
        height: 490px;
        margin-bottom: 0;
    }
}


.about__picture {
    @media screen and (min-width: 768px) {
        display: block;
        width: 330px;
    }

    @media screen and (min-width: 1200px) {
        width: 490px;
        display: block;
    }        
}


.about__img {
    position: absolute; 
    top: 22px;

    @media screen and (min-width: 768px) {
        top: 26px;
    }
    
    @media screen and (min-width: 1200px) {
        top: 39px;
    }
}


.about__text-button-wrapper {
    text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        padding-top: 8px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 90px;
        padding-right: 105px;
    }
        
}


.about__text--first {
    font-weight: 400;
    font-size: 12px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: $text-color-secondary;
    margin-bottom: 4px;
    // max-width: 220px;
    // margin: auto;

    @media screen and (min-width: 768px) {
        margin-bottom: 8px;
        text-align: start;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
}


.about__text--second {
    font-weight: 400;
    font-size: 12px;
    line-height: 162%;
    text-align: center;
    color: $text-color-secondary;

    // max-width: 220px;
    // margin: auto;

    @media screen and (max-width: 767px) {
        margin-bottom: 10px;
    }
                
    @media screen and (min-width: 768px) {
        margin-bottom: 8px;
        line-height: 176%;    
        letter-spacing: 0.04em;
        text-align: start;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 194%;
    }  
}


.about__text--third {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 194%;
        letter-spacing: 0.04em;
        color: $text-color-secondary;
        margin-bottom: 32px;
        text-align: start;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        margin-bottom: 54px;
    }
}

.about__button {
    width: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    @media screen and (min-width: 768px) {
        margin: 0;
    }
}


.about__button-icon {
    margin-left: 4px;
}




// MODAL + backdrop

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}

.modal {
    position: absolute;
    max-width: 280px;
    // width: 100%;
    padding: 28px;
    top: 50%;
    left: 50%;
    // min-width: 528px;
    // max-width: 568px;

    // background-color: white;
    // border-radius: 4px;
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    //     0px 2px 1px rgba(0, 0, 0, 0.2);
    
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


    background: $bg-color-secondary;
    border: 2px solid $button-border-color-default;
    border-radius: 10px;

    // @media screen and (max-width: 767px) {
    //     top: 50%;
    // }

    @media screen and (min-width: 768px) {
        // top: 50%;
        min-width: 568px;
        padding: 32px 60px;
    }

    // @media screen and (min-width: 1199px) {
    //     min-width: 568px;
    //     top: 50%;
    // }
}

.modal__button--close {
    position: absolute;
    top: 12px;
    right: 12px;
    // width: 30px;
    // height: 30px;
    background: inherit;
    color: #131313;
    // border: 1px solid rgba(0, 0, 0, 0.1)
    border: transparent;
    // border-radius: 50%;
    cursor: pointer;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        width: 24px;
        height: 24px;
        }

    // &:hover {
    //     fill: black;
    // }
}

.video {
    @media screen and (min-width: 768px) {
        width: 448px;
        height: 205px;
    }
}

.modal__title {
    font-family: $font-family-secondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $text-color-primary;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 32px;
    }
}

.modal__text {
    font-family: $font-family-primary;
    font-size: 14px;
    line-height: 140%;
    color: $text-color-primary;
    margin-top: 20px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 140%;
        margin-top: 32px;
    }
}