// Section ABOUT (modal + backdrop)

.about-modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
}


.about-modal__backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}


.about-modal__backdrop.is-hidden .about-modal {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}


.about-modal {
    position: absolute;
    max-width: 280px;
    // width: 100%;
    padding: 28px;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


    background: $bg-color-secondary;
    border: 2px solid $button-border-color-default;
    border-radius: 10px;

    @media screen and (min-width: $tablet-min) {
        min-width: 568px;
        padding: 32px 60px;
    }
}


.about-modal__button--close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    background: inherit;
    color: $text-color-primary;
    border: transparent;
    cursor: pointer;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $tablet-min) {
        width: 24px;
        height: 24px;
    }

    &:hover, &:focus {
        fill: $link-color-default;
    }
}


.about-modal__video {
    @media screen and (min-width: $tablet-min) {
        width: 448px;
        height: 205px;
    }
}


.about-modal__title {
    font-family: $font-family-secondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $text-color-primary;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet-min) {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 32px;
    }
}


.about-modal__text {
    font-family: $font-family-primary;
    font-size: 14px;
    line-height: 140%;
    color: $text-color-primary;
    margin-top: 20px;

    @media screen and (min-width: $tablet-min) {
        font-size: 16px;
        line-height: 140%;
        margin-top: 32px;
    }
}