.advantages .container {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 64px;
    /* padding-top: 50px; */

    @media screen and (min-width: $tablet-min) {
        /* padding-top: 60px; */
        padding-left: 76px;
        padding-right: 76px;
        padding-bottom: 204px;
    }

    @media screen and (min-width: $desktop-min) {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 178px;
    }
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;

    @media screen and (min-width: $tablet-min) {
        flex-wrap: nowrap;
        gap: 80px;
    }

    @media screen and (min-width: $desktop-min) {
        gap: 32px;
    }
}

.advantages__number {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    text-transform: uppercase;
    text-align: center;

    color: $text-color-secondary;

    @media screen and (min-width: $tablet-min) {
        margin-bottom: 12px;
        font-size: 48px;
    }

    @media screen and (min-width: $desktop-min) {
        font-size: 58px;
    }
}

.advantages__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.02em;

    color: $text-color-secondary;

    @media screen and (max-width: $mobile-adaptive-max) {
        max-width: 290px;
    }

    @media screen and (min-width: $tablet-min) {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.74;
    }

    @media screen and (min-width: $desktop-min) {
        font-size: 16px;
        line-height: 1.76;
    }
}

.advantages__item::before {
    display: block;
    content: '';
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $link-color-default;
    background-image: url('../images/weight.png');
}

.advantages__item:first-child::before {
    background-image: url('../images/cow.png');
}

.advantages__item:last-child::before {
    background-image: url('../images/ice-crema.png');
}