html {
  cursor: url('../images/cursor/cursor-auto-@1x.png'), auto;

  @supports (cursor: url('data:image/webp'), auto) {
    cursor: url('../images/cursor/cursor-auto-@1x.webp'), auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    cursor: url('../images/cursor/cursor-auto-@2x.png'), auto;

    @supports (cursor: url('data:image/webp')) {
      cursor: url('../images/cursor/cursor-auto-@2x.webp'), auto;
    }
  }
}

a,
svg,
input,
button,
.button,
.gallery__image:hover,
.swiper-pagination-clickable .swiper-pagination-bullet,
.menu__button,
.menu__button-close,
.menu__button-open {
  cursor: url('../images/cursor/cursor-pointer-@1x.png'), auto;

  @supports (cursor: url('data:image/webp'), auto) {
    cursor: url('../images/cursor/cursor-pointer-@1x.webp'), auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    cursor: url('../images/cursor/cursor-pointer-@2x.png'), auto;

    @supports (cursor: url('data:image/webp')) {
      cursor: url('../images/cursor/cursor-pointer-@2x.webp'), auto;
    }
  }
}
