html {
  cursor: url('../images/cursor/cursor-auto-@1x.png'), auto;

  @supports (cursor: url('data:image/webp'), auto) {
    cursor: url('../images/cursor/cursor-auto-@1x.webp'), auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    cursor: url('../images/cursor/cursor-auto-@2x.png'), auto;

    @supports (cursor: url('data:image/webp')) {
      cursor: url('../images/cursor/cursor-auto-@2x.webp'), auto;
    }
  }
}

a,
button,
.button {
  cursor: url('../images/cursor/cursor-pointer-@1x.png'), auto;

  @supports (cursor: url('data:image/webp'), auto) {
    cursor: url('../images/cursor/cursor-pointer-@1x.webp'), auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    cursor: url('../images/cursor/cursor-pointer-@2x.png'), auto;

    @supports (cursor: url('data:image/webp')) {
      cursor: url('../images/cursor/cursor-pointer-@2x.webp'), auto;
    }
  }
}

.gallery-image {
  cursor: url('../images/cursor/cursor-grab-@1x.png'), auto;

  @supports (cursor: url('data:image/webp'), auto) {
    cursor: url('../images/cursor/cursor-grab-@1x.webp'), auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    cursor: url('../images/cursor/cursor-grab-@2x.png'), auto;

    @supports (cursor: url('data:image/webp')) {
      cursor: url('../images/cursor/cursor-grab-@2x.webp'), auto;
    }
  }
}
