.form {
    width: 240px;
    margin: 0 auto;

    @media screen and (min-width: $tablet-min) {
        width: 368px;
    }
}

.form__input,
.form__textarea {
    width: 100%;
    padding: 11px 16px;
    background-color: rgba(248, 210, 78, 0.1);
    /* border: 1px solid $bg-color-primary; */
    border-radius: 10px;
    outline: none;
}

.form__input {
    margin-bottom: 16px;
}

.form__textarea {
    margin-bottom: 24px;
    resize: none;

    @media screen and (min-width: $tablet-min) {
        margin-bottom: 32px;
    }
}

.form__field {
    position: relative;
}

.form__label {
    position: absolute;
    transform: translate(16px, 11px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: $font-family-primary;
    font-size: 14px;
    line-height: 1.40;

    color: $text-color-primary;
}

.form__input:hover,
.form__input:focus,
.form__textarea:hover,
.form__textarea:focus {
    cursor: pointer;
}

.form:hover .form__label,
.form:focus .form__label,
.form:focus-within .form__label {
    transform: translateY(-16px);
}

.form__input:not(:placeholder-shown):required:valid {
    border: 1px solid $bg-color-primary;
}

.form__input:not(:placeholder-shown):required:invalid {
    border: 1px solid red;
}

.form__button {
    display: block;
    margin: 0 auto;
    padding: 12px 34px;
    line-height: 1.21;
    text-align: center;
}