@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.counter {
  display: none;

  @media screen and (min-width: $tablet-min) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 14px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: $text-color-secondary;

    @media screen and (min-width: $desktop-min) {
      font-size: 14px;
      line-height: 1.21;
    }
  }

  &__number {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-color-primary;

    @media screen and (min-width: $desktop-min) {
      font-size: 46px;
      line-height: 1.22;
    }

    &::after {
      content: counter(num);
    }
  }

  &__cafes {
    animation: counter 4s ease-in-out;
    animation-fill-mode: forwards;
    counter-reset: num var(--num);
  }

  &__truks {
    animation: counterPlus 4s ease-in-out;
    animation-fill-mode: forwards;
    counter-reset: num var(--num);
  }
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 16;
  }
}

@keyframes counterPlus {
  from {
    --num: 0;
  }
  to {
    --num: 23;
  }
}
