@import './hero-btn';
@import './hero-description';
@import './hero-counter';

.hero {
  position: relative;
  padding-top: 50px;
  padding-bottom: 236px;

  @media screen and (min-width: 768px) {
    padding-top: 14px;
    padding-bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 45px;
    padding-bottom: 65px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    width: 247px;
    font-family: $font-family-secondary;
    color: $text-color-secondary;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.27;

    @media screen and (min-width: 1200px) {
      width: 380px;
      font-size: 38px;
      line-height: 1.26;
    }
  }

  &__title-upper {
    font-size: 34px;
    line-height: 1.03;

    @media screen and (min-width: 1200px) {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &__ice-cream {
    display: block;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(56%);

    @media screen and (min-width: 768px) {
      transform: translateX(110%);
    }
  }

  &__dots {
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
}
