.hero-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    margin-top: 24px;
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 28px;
    margin-bottom: 42px;
    gap: 34px;
    font-size: 14px;
    line-height: 1.29;
  }

  &__link {
    display: inline-block;

    &--button {
      padding: 11px 26px;

      @media screen and (min-width: 1200px) {
        padding: 12px 34px;
      }
    }

    &--underline {
      color: $link-color-default;
      text-decoration: underline;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        color: $link-color-hover;
      }

      &:focus {
        color: $link-color-focus;
      }
    }
  }
}
