.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  outline: 1px solid white;
}

.menu__button {
  display: flex;
  align-items: center;

  padding: 0;

  cursor: pointer;

  border: none;
  outline: none;
  background-color: transparent;

  &-open {
    @extend .menu__button;

    @media screen and (min-width: $tablet-min) {
      margin-left: auto;
      margin-right: 32px;
      margin-bottom: 3px;
    }

    // @media screen and (min-width: $desktop-min) {
    //   display: none;
    // }

    // .menu--mobile-opened & {
    //   @media screen and (max-width: $tablet-max) {
    //     display: none;
    //   }
    // }
  }

  &-close {
    @extend .menu__button;

    display: none;

    fill: $text-color-secondary;

    .menu--mobile-opened & {
      @media screen and (max-width: $tablet-max) {
        display: block;
      }
    }
  }
}

.menu__mobile-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;

  width: 100%;
  height: 100vh;

  background-color: $bg-color-primary;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .menu--mobile-opened & {
    @media screen and (max-width: $tablet-max) {
      transform: translateX(0);
    }
  }
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  outline: 1px solid blue;

  .menu--mobile-opened & {
    @media screen and (max-width: $tablet-max) {
      position: relative;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);

      height: 100vh;
      width: $mobile-adaptive-min;

      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      @media screen and (max-width: $mobile-responsive-max) {
        width: 100%;
      }

      @media screen and (min-width: $tablet-min) {
        padding-left: 32px;
        padding-right: 32px;

        width: $tablet-min;
      }
    }
  }
}

.menu__head-wrapper {
  .menu--mobile-opened & {
    @media screen and (max-width: $tablet-max) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      width: 100%;

      padding-top: 12px;
      padding-left: 32px;
      padding-right: 20px;

      outline: 1px solid white;

      @media screen and (min-width: $tablet-min) {
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.menu__logo {
  display: none;

  .menu--mobile-opened & {
    @media screen and (max-width: $tablet-max) {
      display: block;
    }
  }
}

.menu__nav {
  display: none;

  // @media screen and (min-width: $desktop-min) {
  //   display: block;
  // }

  .menu--mobile-opened & {
    @media screen and (max-width: $tablet-max) {
      display: block;

      margin-top: 51px;
      margin-bottom: 35px;

      @media screen and (min-width: $tablet-min) {
        margin-top: 76px;
        margin-bottom: 0;
      }
    }
  }
}

.menu__list {
  text-align: center;

  // @media screen and (min-width: $desktop-min) {
  //   display: flex;

  //   margin-bottom: 6px;
  //   margin-right: 205px;
  // }
}

.menu__list-item {
  // @media screen and (min-width: $desktop-min) {
  //   &:not(:first-child) {
  //     margin-left: 28px;
  //   }
  // }

  .menu--mobile-opened & {
    @media screen and (max-width: $tablet-max) {
      &:not(:first-child) {
        margin-top: 32px;
      }

      @media screen and (min-width: $tablet-min) {
        &:not(:first-child) {
          margin-top: 40px;
        }
      }
    }
  }
}

.menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;

  color: $text-color-secondary;
  outline: none;

  @media screen and (min-width: $tablet-min) {
    font-size: 48px;
    line-height: 1.23;
  }

  // @media screen and (min-width: $desktop-min) {
  //   font-size: 16px;
  //   line-height: 1.25;
  // }

  &:focus,
  &:hover {
    color: $text-color-primary;

    // @media screen and (min-width: $desktop-min) {
    //   color: $link-color-default;
    // }
  }
}

.menu__buy-now-button {
  display: none;

  align-items: center;

  padding-left: 36px;
  padding-right: 35px;

  &--in-bar {
    @media screen and (min-width: $tablet-min) {
      display: flex;
    }
  }

  .menu--mobile-opened &--in-mobile {
    @media screen and (max-width: $tablet-max) {
      display: flex;

      margin-top: auto;
      margin-bottom: 64px;

      @media screen and (min-width: $tablet-min) {
        display: none;
      }
    }
  }
}

.menu__button-icon {
  display: block;

  &--arrow {
    margin-left: 4px;
  }
}
