.modal-product {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 280px;
  padding: 28px 20px;

  background: $bg-color-secondary;
  border: 2px solid $button-border-color-default;
  border-radius: 10px;

  pointer-events: none;

  opacity: 0;
  transform: translate(-50%, -50%) scale(0);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet-min) {
    width: 568px;
    padding: 32px 40px;
  }

  [data-modal-open^='modal-product'] & {
    pointer-events: all;

    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    @include mx-modal-view('modal-product');
  }
}

.modal-product__close {
  position: absolute;
  right: 12px;
  top: 12px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: none;

  @media screen and (min-width: $tablet-min) {
    & svg {
      width: 24px;
      height: 24px;
    }
  }
}

.modal-product__icon {
  fill: inherit;
}

.modal-product__close:hover .modal-product__icon {
  fill: $button-bg-color-default;
}

.modal-product__title {
  display: none;
  margin-bottom: 181px;
  font-family: $font-family-secondary;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;

  @media screen and (min-width: $tablet-min) {
    margin-bottom: 187px;
  }

  [data-modal-open='modal-product-icecream'] &--icecream {
    display: block;
  }

  [data-modal-open='modal-product-icecoffee'] &--icecoffee {
    display: block;
  }

  [data-modal-open='modal-product-milkshake'] &--milkshake {
    display: block;
  }
}

.modal-product__title::before {
  content: '';
  display: block;
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  transform: translate(54px, 83px);

  @media screen and (min-width: $tablet-min) {
    transform: translate(178px, 59px);
  }

  [data-modal-open='modal-product-icecream'] & {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      $pag-bg-color-n-active;
    box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
  }

  [data-modal-open='modal-product-icecoffee'] & {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      $pag-bg-color-n-active;
    box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
  }

  [data-modal-open='modal-product-milkshake'] & {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      $pag-bg-color-n-active;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  }
}

.modal-product__title::after {
  content: '';
  display: block;
  position: absolute;
  transform: translate(54px, 20px);
  width: 132px;
  height: 132px;
  background-size: contain;

  @media screen and (min-width: $tablet-min) {
    transform: translate(178px, 24px);
  }

  [data-modal-open='modal-product-icecream'] & {
    background-image: url('../images/modal-product.png');

    @supports (background-image: url('data:image/webp')) {
      background-image: url('../images/modal-product.webp');
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/modal-product@2x.png');

      @supports (background-image: url('data:image/webp')) {
        background-image: url('../images/modal-product@2x.webp');
      }
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/modal-product@3x.png');

      @supports (background-image: url('data:image/webp')) {
        background-image: url('../images/modal-product@3x.webp');
      }
    }
  }

  [data-modal-open='modal-product-icecoffee'] & {
    background-image: url('../images/modal-product2.png');

    @supports (background-image: url('data:image/webp')) {
      background-image: url('../images/modal-product2.webp');
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/modal-product2@2x.png');

      @supports (background-image: url('data:image/webp')) {
        background-image: url('../images/modal-product2@2x.webp');
      }
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/modal-product2@3x.png');

      @supports (background-image: url('data:image/webp')) {
        background-image: url('../images/modal-product2@3x.webp');
      }
    }
  }

  [data-modal-open='modal-product-milkshake'] & {
    background-image: url('../images/modal-product3.png');

    @supports (background-image: url('data:image/webp')) {
      background-image: url('../images/modal-product3.webp');
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/modal-product3@2x.png');

      @supports (background-image: url('data:image/webp')) {
        background-image: url('../images/modal-product3@2x.webp');
      }
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/modal-product3@3x.png');

      @supports (background-image: url('data:image/webp')) {
        background-image: url('../images/modal-product3@3x.webp');
      }
    }
  }
}

.modal-product__oval {
  width: 53px;
  height: 72px;
  border-radius: 40px;

  @media screen and (min-width: $tablet-min) {
    width: 65px;
    height: 90px;
  }

  [data-modal-open='modal-product-icecream'] & {
    border: 2px solid $modal-product-color;
  }

  [data-modal-open='modal-product-icecoffee'] & {
    border: 2px solid $modal-product-yellow-color;
  }

  [data-modal-open='modal-product-milkshake'] & {
    border: 2px solid $modal-product-brown-color;
  }
}

.modal-product__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin: -2px auto 8px;

  @media screen and (min-width: $tablet-min) {
    width: 53px;
    height: 53px;
  }

  [data-modal-open='modal-product-icecream'] & {
    border: 2px solid $modal-product-color;
    background-color: $modal-product-color;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  }

  [data-modal-open='modal-product-icecoffee'] & {
    border: 2px solid $modal-product-yellow-color;
    background-color: $modal-product-yellow-color;
    box-shadow: 0px 6px 20px rgba(153, 114, 23, 0.25);
  }

  [data-modal-open='modal-product-milkshake'] & {
    border: 2px solid $modal-product-brown-color;
    background-color: $modal-product-brown-color;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  }
}

.modal-product__list {
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet-min) {
    gap: 20px;
    margin-bottom: 48px;
  }
}

.modal-product__number {
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  letter-spacing: 0;

  @media screen and (min-width: $tablet-min) {
    font-size: 12px;
    line-height: 2.33;
  }
}

.modal-product__text {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
  padding: 0 7px;

  @media screen and (min-width: $tablet-min) {
    font-size: 12px;
    line-height: 1.25;
    padding: 0 4px;
  }
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal-product__subtitle {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0;
  text-align: center;
}

.modal-product__ingredients {
  margin-bottom: 40px;

  @media screen and (min-width: $tablet-min) {
    margin-bottom: 48px;
  }
}

.modal-product__ingredient {
  display: flex;
  justify-content: space-between;
}

.modal-product__ingredient:not(:last-child) {
  margin-bottom: 11px;
}

/* Temporary button to open modal-product */

.modal-product__open {
  width: 130px;
  height: 30px;
  border: 2px solid red;
  background-color: red;
}
