.modal-franchise {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 280px;

  padding: 28px;

  background: $bg-color-secondary;
  border: 2px solid $button-border-color-default;
  border-radius: 10px;

  pointer-events: none;

  opacity: 0;
  transform: translate(-50%, -50%) scale(0);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet-min) {
    width: 568px;
    padding: 32px 58px;
  }

  [data-modal-open='modal-franchise'] & {
    pointer-events: all;

    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    @include mx-modal-view(568px, 458px);
  }

  &__button--close {
    position: absolute;

    top: 10px;
    right: 10px;

    padding: 0;

    background-color: transparent;

    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: $tablet-min) {
      & svg {
        width: 24px;
        height: 24px;
      }
    }

    &:hover,
    &:focus {
      fill: $link-color-default;
    }
  }

  &__title {
    display: block;
    margin-bottom: 20px;
    font-family: $font-family-secondary;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;

    @media screen and (min-width: $tablet-min) {
      width: 322px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
      font-size: 20px;
      line-height: 140%;
    }
  }

  &__text {
    margin-bottom: 24px;
    line-height: 140%;
    letter-spacing: 0;

    @media screen and (min-width: $tablet-min) {
      margin-bottom: 32px;
      font-size: 16px;
    }
  }

  & .form {
    width: 224px;

    @media screen and (min-width: $tablet-min) {
      width: 368px;
    }
  }

  & .form__input,
  & .form__textarea {
    @media screen and (max-width: $mobile-adaptive-max) {
      padding: 7px 12px;
      font-size: 12px;
    }
  }

  & .form__label{
    @media screen and (max-width: $mobile-adaptive-max) {
      left: 12px;
      top: 8px;
      font-size: 12px;
    }
  }
}
