.backdrop {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;

    &--hidden {
        opacity: 0;
        pointer-events: none;

        & .modal-product {
            transform: translate(-50%, -50%) scale(0.7);
        }
    }
}

.modal-product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 280px;
    padding: 28px 20px;
    border: 2px solid $button-border-color-default;
    border-radius: 10px;
    background-color: $bg-color-secondary;

    @media screen and (min-width: $tablet-min) {
        width: 568px;
        padding: 32px 40px;
    }
}

.modal-product__close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 12px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border: none;

    @media screen and (min-width: $tablet-min) {
        width: 24px;
        height: 24px;
    }
}

.modal-product__icon {
    fill: inherit;
}

.modal-product__title {
    margin-bottom: 181px;
    font-family: $font-family-secondary;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;

    @media screen and (min-width: $tablet-min) {
        margin-bottom: 187px;
    }
}

.modal-product__title::before {
    content: "";
    display: block;
    position: absolute;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: $modal-product-color;
    transform: translate(54px, 83px);

    @media screen and (min-width: $tablet-min) {
        transform: translate(178px, 59px);
    }
}

.modal-product__title::after {
    content: "";
    display: block;
    position: absolute;
    transform: translate(54px, 20px);
    width: 132px;
    height: 132px;
    background-image: url('../images/modal-product.png');

    @media screen and (min-width: $tablet-min) {
        transform: translate(178px, 24px);
    }
}

.modal-product__list {
    display: flex;
    gap: 9px;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet-min) {
        gap: 20px;
        margin-bottom: 48px;
    }
}

.modal-product__oval {
    width: 53px;
    height: 72px;
    border: 2px solid $modal-product-color;
    border-radius: 40px;

    @media screen and (min-width: $tablet-min) {
        width: 65px;
        height: 90px;
    }
}

.modal-product__circle {
    width: 43px;
    height: 43px;
    background-color: $modal-product-color;
    border: 2px solid $modal-product-color;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
    margin: -2px auto 8px;

    @media screen and (min-width: $tablet-min) {
        width: 53px;
        height: 53px;
    }
}

.modal-product__number {
    font-weight: 500;
    font-size: 10px;
    line-height: 2.8;
    padding-top: 7px;
    text-align: center;

    @media screen and (min-width: $tablet-min) {
        font-size: 12px;
        line-height: 2.33;
        padding-top: 11px;
    }
}

.modal-product__text {
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    padding: 0 6px;

    @media screen and (min-width: $tablet-min) {
        font-size: 12px;
        line-height: 1.25;
        padding: 0 2px;
    }
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.modal-product__subtitle {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
}

.modal-product__ingredients {
    margin-bottom: 40px;

    @media screen and (min-width: $tablet-min) {
        margin-bottom: 48px;
    }
}

.modal-product__ingredient {
    display: flex;
    justify-content: space-between;
}

.modal-product__ingredient:not(:last-child) {
    margin-bottom: 11px;
}

/* Temporary button to open modal-product */

.modal-product__open {
    width: 130px;
    height: 30px;
    border: 2px solid red;
    background-color: red;
}