.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(129, 124, 124, 0.2);
    /* ? */
    padding-left: 20px;
    padding-right: 20px;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
}


/* .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
} */



/* Modal window */
.modal {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%) scale(1);

    width: 280px;
    height: 991px;
    padding: 0;

    background-color: $text-color-secondary;
    border: 2px solid $button-border-color-default;
    border-radius: 10px;

    @media screen and(min-width:$tablet-min) {
        width: 568px;
        height: 644px;
    }

}

.close-btn {
    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    align-items: center;
    
    background-color: inherit;
    border: none;
}

.close-btn__icon {
    fill: $text-color-primary;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn__icon:hover {
    fill: #f8d24e;
}


/* modal form  */
.modal__form {
    padding: 28px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and(min-width:$tablet-min) {
        padding: 32px 54px;
    }
}

.modal__caption {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;
    line-height: 1.5;
    text-align: center;

    @media screen and(min-width:$tablet-min) {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 1.4;
    }


}


/* products__choose  */

.products {
    max-width: 1200px;
    margin-bottom: 32px;
    
    display: flex;
    flex-direction: column;

    @media screen and(min-width:$tablet-min) {
        margin-bottom: 40px;
        flex-direction: row;   
    }

}

.products__box {

    position: relative;

    width: 132px;
    height: 199px;
    display: flex;
    flex-direction: column;

    @media screen and(max-width:$mobile-adaptive-max) {
        &:not(:last-child) {
        margin-bottom: 20px;
        }
    }


    @media screen and(min-width:$tablet-min) {
        &:not(:first-child) {
            margin-left: 32px;
        }
    }
}


.products__choose {
    cursor: pointer;
    
}

.products__img {
    position: absolute;
    top: 0;
    left: auto;
    border-radius: 98px;
    z-index: 1;

}

.products__wrap {
    position: absolute;
    top: 74px;
    left: auto;
    display: flex;
    flex-direction: column;

    width: 132px;
    height: 136px;
    
}

.products__checkbox {
    display: none;
}

.products__holder {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 132px;
    height: 136px;
    padding: 96px 11px 20px 11px;

    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;

    user-select: none;
    
}


.products__holder--green {

    border-right: 2px solid #96AF8C;
    border-bottom: 2px solid #96AF8C;
    border-left: 2px solid #96AF8C;

}


.products__holder--yellow {

    border-right: 2px solid #EFD478;
    border-bottom: 2px solid #EFD478;
    border-left: 2px solid #EFD478;
}


.products__holder--orange {

    border-right: 2px solid #D6936D;
    border-bottom: 2px solid #D6936D;
    border-left: 2px solid #D6936D;
}

.products__holder:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 64px;

    transform: translate(-50%, -50%);
    width: 132px;
    height: 132px;
    border-radius: 98px;
}

.products__holder--green:before {

    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5px 20px rgb(10 136 23 / 25%);
    /* background-image: url(../img/img1.png);
    background-repeat: no-repeat;
    background-position: top -11px left 0;
    background-size: cover; */

}

.products__holder--yellow:before {

    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);

}

.products__holder--orange:before {

    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.products__checkbox:checked ~ .products__holder--green {

    background-color: #AEC6A5;
    border-right: 2px solid #AEC6A5;
    border-bottom: 2px solid #AEC6A5;
    border-left: 2px solid #AEC6A5;
}

.products__checkbox:checked ~ .products__holder--yellow {

    background-color: #EFD478;
    border-right: 2px solid #EFD478;
    border-bottom: 2px solid #EFD478;
    border-left: 2px solid #EFD478;
}

.products__checkbox:checked ~ .products__holder--orange {

    background-color: #D6936D;
    border-right: 2px solid #D6936D;
    border-bottom: 2px solid #D6936D;
    border-left: 2px solid #D6936D;
}


/* group input */
.group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-field {
    position: relative;

    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 12px;

    @media screen and(min-width:$tablet-min) {

        font-size: 14px;
        margin-bottom: 16px;
        
    }

}



.form-field__input {

    width: 224px;
    padding: 8px 12px;
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid $bg-color-primary;
    border-radius: 10px;
    line-height: 1.4;

    outline: none;

    @media screen and(min-width:$tablet-min) {
        width: 368px;
    }
}

.form-field__wrap {
    position: absolute;
    left: 0;
    padding: 8px 12px;
    pointer-events: none;
    
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:valid ~ span,
.form-field__input:focus ~ span,
.form-field__input:not(:placeholder-shown).form-field__input:not(:focus) ~ span {
    
    color: $bg-color-primary;
    transform: translateX(10px) translateY(-7px);
    font-size: 10px;
    padding: 0 12px;
    background-color: $bg-color-secondary;
    border-left: 1px solid $bg-color-primary;
    border-right: 1px solid $bg-color-primary;
}


.form-field__input:not(:placeholder-shown):required:invalid,
.form-field__input:not(:placeholder-shown).form-field__input:not(:focus):invalid ~ span,
.form-field__input:not(:placeholder-shown):required:invalid ~ span {
    color: #bf4a41;
    border-color: #bf4a41;
}

.form-field__textarea {

    width: 224px;
    height: 65px;
    padding: 8px 12px;
    margin-bottom: 26px;
    border: 1px solid $bg-color-primary;
    background-color: rgba(248, 210, 78, 0.1);
    border-radius: 10px;
    outline: none;

    resize: none;

    @media screen and(min-width:$tablet-min) {
        width: 368px;
        height: 84px;
    }
}

.form-field__textarea:placeholder-shown {
    
    color: #131313;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;

    @media screen and(min-width:$tablet-min) {
        font-size: 14px;
    }
}

.btn--submit {
    padding: 12px 34px;

    font-family: 'Montserrat';

    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;


    color: $text-color-primary;
    background-color: $button-border-color-default;
    border: 1px solid transparent;
    border-radius: 10px;
}