.modal-buy {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 280px;
  /* height: 991px; */
  padding: 0;

  background: $bg-color-secondary;
  border: 2px solid $button-border-color-default;
  border-radius: 10px;

  pointer-events: none;

  opacity: 0;
  transform: translate(-50%, -50%) scale(0);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet-min) {
    width: 568px;
    height: 644px;
  }

  [data-modal-open='modal-buy'] & {
    pointer-events: all;

    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    @include mx-modal-view('modal-buy-now');
  }
}

.modal-buy_close-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  align-items: center;

  background-color: inherit;
  border: none;

  @media screen and (min-width: $tablet-min) {
    & svg {
      width: 24px;
      height: 24px;
    }
  }
}

.modal-buy_btn-icon {
  fill: $text-color-primary;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $button-cross-fill-hover;
  }
}

/* modal form  */
.modal__form {
  padding: 28px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and(min-width:$tablet-min) {
    padding: 32px 54px;
  }
}

.modal__caption {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  font-family: $font-family-secondary;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  @media screen and(min-width:$tablet-min) {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.4;
  }
}

/* products__choose  */

.modal-buy-products {
  max-width: 1200px;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;

  @media screen and(min-width:$tablet-min) {
    margin-bottom: 40px;
    flex-direction: row;
  }
}

.modal-buy-products__box {
  position: relative;

  width: 132px;
  height: 199px;
  display: flex;
  flex-direction: column;

  @media screen and(max-width:$mobile-adaptive-max) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and(min-width:$tablet-min) {
    &:not(:first-child) {
      margin-left: 32px;
    }
  }
}

.modal-buy-products__img {
  position: absolute;
  top: 0;
  left: auto;
  border-radius: 98px;
  z-index: 1;
}

.modal-buy-products__wrap {
  position: absolute;
  top: 74px;
  left: auto;
  display: flex;
  flex-direction: column;

  width: 132px;
}

.modal-buy-products__checkbox {
  display: none;
}

.modal-buy-products__holder {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 132px;
  height: 132px;
  padding: 95px 11px 20px 11px;

  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;

  user-select: none;
}

.modal-buy-products__holder--green {
  border-right: 2px solid $product-border-color-green-default;
  border-bottom: 2px solid $product-border-color-green-default;
  border-left: 2px solid $product-border-color-green-default;
}

.modal-buy-products__holder--yellow {
  border-right: 2px solid $product-border-color-yellow-default;
  border-bottom: 2px solid $product-border-color-yellow-default;
  border-left: 2px solid $product-border-color-yellow-default;
}

.modal-buy-products__holder--orange {
  border-right: 2px solid $product-border-color-orange-default;
  border-bottom: 2px solid $product-border-color-orange-default;
  border-left: 2px solid $product-border-color-orange-default;
}

.modal-buy-products__holder:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 64px;

  transform: translate(-50%, -50%);
  width: 132px;
  height: 132px;
  border-radius: 98px;
}

.modal-buy-products__holder--green:before {
  background: $product-bg-green;
  box-shadow: $product-box-shadow-green;
  /* background-image: url(../img/img1.png);
    background-repeat: no-repeat;
    background-position: top -11px left 0;
    background-size: cover; */
}

.modal-buy-products__holder--yellow:before {
  background: $product-bg-yellow;
  box-shadow: $product-box-shadow-yellow;
}

.modal-buy-products__holder--orange:before {
  background: $product-bg-orange;
  box-shadow: $product-box-shadow-orange;
}

.modal-buy-products__checkbox:checked ~ .modal-buy-products__holder--green {
  background-color: $product-bg-color-green-checked;
  border-right: 2px solid $product-border-color-green-checked;
  border-bottom: 2px solid $product-border-color-green-checked;
  border-left: 2px solid $product-border-color-green-checked;
}

.modal-buy-products__checkbox:checked ~ .modal-buy-products__holder--yellow {
  background-color: $product-bg-color-yellow-checked;
  border-right: 2px solid $product-border-color-yellow-checked;
  border-bottom: 2px solid $product-border-color-yellow-checked;
  border-left: 2px solid $product-border-color-yellow-checked;
}

.modal-buy-products__checkbox:checked ~ .modal-buy-products__holder--orange {
  background-color: $product-bg-color-orange-checked;
  border-right: 2px solid $product-border-color-orange-checked;
  border-bottom: 2px solid $product-border-color-orange-checked;
  border-left: 2px solid $product-border-color-orange-checked;
}

/* group input */
.group {
  width: 240px;

  @media screen and (min-width: $tablet-min) {
    width: 368px;
  }
}

.form__field.form__field--gap {
  margin-bottom: 12px;

  @media screen and (min-width: $tablet-min) {
    margin-bottom: 16px;
  }
}

.form__comment.form__comment--gap {
  margin-bottom: 26px;

  @media screen and (min-width: $tablet-min) {
    margin-bottom: 32px;
  }
}

.form__label.form__label--font-size {
  @media screen and(max-width: 767px) {
    font-size: 12px;
  }
}

input::placeholder,
textarea::placeholder {
  color: $input-bg-color;
}

/*  */

.button--submit {
  display: block;
  margin: 0 auto;

  padding: 12px 34px;
  min-height: 42px;
  font-size: 12px;
  letter-spacing: 0;
}
