.about-modal {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 280px;
  padding: 28px;

  background: $bg-color-secondary;
  border: 2px solid $button-border-color-default;
  border-radius: 10px;

  pointer-events: none;

  opacity: 0;
  transform: translate(-50%, -50%) scale(0);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet-min) {
    width: 568px;
    padding: 32px 60px;
  }

  [data-modal-open='about-modal'] & {
    pointer-events: all;

    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    @include mx-modal-view(568px, 459px);
  }
}

.about-modal__button--close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: inherit;
  color: $text-color-primary;
  border: transparent;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet-min) {
    & svg {
      width: 24px;
      height: 24px;
    }
  }

  &:hover,
  &:focus {
    fill: $link-color-default;
  }
}

.about-modal__video {
  @media screen and (min-width: $tablet-min) {
    width: 448px;
    height: 205px;
  }
}

.about-modal__iframe-wrapper {
  width: 100%;
  width: 220px;
  height: 199px;

  border-radius: 10px;
  overflow: hidden;

  & iframe {
    display: block;

    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: $tablet-min) {
    width: 448px;
    height: 205px;
  }
}

.about-modal__title {
  font-family: $font-family-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $text-color-primary;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet-min) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

.about-modal__text {
  font-family: $font-family-primary;
  font-size: 14px;
  line-height: 140%;
  color: $text-color-primary;
  margin-top: 20px;

  @media screen and (min-width: $tablet-min) {
    font-size: 16px;
    line-height: 140%;
    margin-top: 32px;
  }
}
