.modal-location {
  position: absolute;

  left: 50%;
  top: 50%;

  width: 280px;
  min-height: 365px;

  padding: 28px;

  pointer-events: none;

  transform: translate(-50%, -50%) scale(0);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: $bg-color-secondary;
  border: 2px solid $button-border-color-default;
  border-radius: 10px;

  @media screen and (min-width: $tablet-min) {
    padding: 32px 60px;
    width: 568px;
    height: 458px;
  }

  [data-modal-open='modal-location'] & {
    pointer-events: all;

    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal-location__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-location__close {
  position: absolute;
  right: 12px;
  top: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .modal-location__icon,
  &:focus .modal-location__icon {
    fill: $link-color-default;
  }

  @media screen and (min-width: $tablet-min) {
    & svg {
      width: 24px;
      height: 24px;
    }
  }
}

.modal-location__heading {
  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet-min) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

.modal-location_iframe-wrapper {
  width: 100%;
  height: 199px;

  margin-bottom: 24px;
  border-radius: 10px;
  overflow: hidden;

  & iframe {
    display: block;

    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: $tablet-min) {
    height: 260px;
    margin-bottom: 32px;
  }
}

.modal-location__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 134px;
}
