.social-item {
    display: inline;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: $icon-bg-color-default;
    cursor: pointer;
    }
    
    .social-icon {
    fill: $icon-color-default;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, &:focus {
    fill: $icon-color-focus-hover;
    }
    }